metadata/sf-prod/force-app/main/default/flows/AdvanceRenewalOpportunityFromPendingToAIPresale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>assign the record in the loop to the collection in order to update it in last step as a colleciton</description>
        <name>assign_the_updated_record_to_the_collection</name>
        <label>assign the updated record to the collection</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Go_through_all_opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_all_opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_AI_Presale</name>
        <label>Set Stage to AI Presale</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Go_through_all_opportunities.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AI Presale</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_the_updated_record_to_the_collection</targetReference>
        </connector>
    </assignments>
    <description>Flow to move Renewal Opportunities from Pending to AI Presales 290 days before Renewal Date</description>
    <formulas>
        <description>Current date + 291 days</description>
        <name>dateOfDaysLater</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+271</expression>
    </formulas>
    <interviewLabel>AdvanceRenewalOpportunityFromPendingToAIPresale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AdvanceRenewalOpportunityFromPendingToAIPresale</label>
    <loops>
        <name>Go_through_all_opportunities</name>
        <label>Go through all opportunities</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Stage_to_AI_Presale</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Renewal Opportunities which are in Pending Stage</description>
        <name>get_Opportunities</name>
        <label>get Opportunities</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_through_all_opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>dateOfDaysLater</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update the opportunities as collection</description>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>OpportunitiesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Opportunities</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>opportunities to update collection</description>
        <name>OpportunitiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
