metadata/sf-prod/force-app/main/default/flows/AutoRenewOpportunitiesScheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Message to set Auto Renewal Clause field</description>
        <name>Message_to_set_Auto_Renewal_Clause_field</name>
        <label>Message to set Auto Renewal Clause field</label>
        <locationX>643</locationX>
        <locationY>302</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] @[{!$Record.Owner.ManagerId}] Opportunity has reached Auto-Renewal, but the Auto-Renewal Clause has not been determined.  Please set &apos;Has Auto-Renewal Clause&apos; field on the opportunity.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AutoCloseOpportunity</name>
        <label>AutoCloseOpportunity</label>
        <locationX>1054</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Win_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto-Renew</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>descriptionModificationTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AutoRenewOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activity_Check</name>
        <label>Activity Check</label>
        <locationX>856</locationX>
        <locationY>101</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Recent_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingCommunication</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Renew</targetReference>
            </connector>
            <label>No Recent Activity</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks Auto-renew</description>
        <name>Auto_Renew</name>
        <label>Auto Renew</label>
        <locationX>859</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Message_to_set_Auto_Renewal_Clause_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrentContractHasAutoRenewalClause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AutoCloseOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RenewalDate_is_Close</name>
        <label>CloseDate is</label>
        <locationX>451</locationX>
        <locationY>103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tomorrow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Plus1Day</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getIncomingTasks</targetReference>
            </connector>
            <label>Tomorrow</label>
        </rules>
    </decisions>
    <description>Automatically close as Won Opportunities in the Renewal Engagement stage when the Renewal Date is close (next day)</description>
    <formulas>
        <name>Last15Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 15</expression>
    </formulas>
    <formulas>
        <name>Plus1Day</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <formulas>
        <description>Today&apos;s date in MM/DD format</description>
        <name>todayDateForDescription</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!$Flow.CurrentDate}))
&amp;&quot;/&quot;&amp;
TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>AutoRenewOpportunitiesScheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoRenewOpportunitiesScheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getIncomingTasks</name>
        <label>getRecentIncomingTasks</label>
        <locationX>644</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activity_Check</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletedDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Last15Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>[In]</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallDisposition</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>incomingCommunication</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>AutoRenewOpportunity</name>
        <label>AutoRenewOpportunity</label>
        <locationX>1053</locationX>
        <locationY>496</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>RenewalDate_is_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kayako</stringValue>
            </value>
        </filters>
        <filters>
            <field>Current_Term__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Current_Term__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CurrentContractHasAutoRenewalClause__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-10-12</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Add a record about auto-close</description>
        <name>descriptionModificationTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!todayDateForDescription} Opportunity is auto-renewed since the renewal date is tomorrow and there is no communication from customer
{!$Record.Description}</text>
    </textTemplates>
    <variables>
        <description>Null if there is no incomming communication</description>
        <name>incomingCommunication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Subject of the first task will be here</stringValue>
        </value>
    </variables>
</Flow>
