metadata/sf-prod/force-app/main/default/flows/Create_New_Or_Open_Existing_QC_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_QC_Summary</name>
        <label>Navigate to QC Summary</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>MyTask.QC_Summary__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>If_Summary_Exists</name>
        <label>Task has Summary?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_QC_Summary_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Summary</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyTask.QC_Summary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_QC_Summary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Create_New_Or_Open_Existing_QC_Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create_New_Or_Open_Existing_QC_Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Summary_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>MyTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Skip_Quality_Check__c</queriedFields>
        <queriedFields>Work_Unit_Type__c</queriedFields>
        <queriedFields>QC_Summary__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_QC_Summary_0</name>
        <label>Create QC Summary</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Navigate_to_QC_Summary</targetReference>
        </connector>
        <flowName>CreateQCSummaryOrScorecardIfNeeded</flowName>
        <inputAssignments>
            <name>MyTask</name>
            <value>
                <elementReference>MyTask</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>MyTask</assignToReference>
            <name>MyTask</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>MyTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Stores the ID number of the task that triggered the flow</description>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
