metadata/sf-prod/force-app/main/default/flows/CreatePlatinumOfferItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Temp_Object_To_The_List</name>
        <label>Add Temp Object To The List</label>
        <locationX>374</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>PlatinumOfferItemFeedbackRecordsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PlatinumOfferItemFeedbackTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_the_Item_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPlatinumItemIds</name>
        <label>AssignPlatinumItemIds</label>
        <locationX>374</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>PlatinumItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Platinum_Offer_Items.Platinum_Offer_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Platinum_Offer_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductCount</name>
        <label>AssignProductCount</label>
        <locationX>418</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CountOfOpportunityProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetRelatedOpportunityProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Product_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordCount</name>
        <label>AssignRecordCount</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ExistingRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Platinum_Offer_Item_Feedback_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Records_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingProductIds</name>
        <label>AssingProductIds</label>
        <locationX>374</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Feedback_Record</name>
        <label>Prepare Feedback Record</label>
        <locationX>374</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>PlatinumOfferItemFeedbackTemp.Call_Recording__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRecord.Call_Recording_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlatinumOfferItemFeedbackTemp.Call_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeTaskURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlatinumOfferItemFeedbackTemp.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRecord.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlatinumOfferItemFeedbackTemp.Platinum_Offer_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_the_Item_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlatinumOfferItemFeedbackTemp.TaskId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlatinumOfferItemFeedbackTemp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Temp_Object_To_The_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Product_Exists</name>
        <label>Check If Product Exists</label>
        <locationX>418</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfOpportunityProducts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Opportunity_Products</targetReference>
            </connector>
            <label>Product Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Records_Exist</name>
        <label>Check If Records Exist</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetRelatedOpportunityProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Feedback Records</defaultConnectorLabel>
        <rules>
            <name>Records_Exist_Exit_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Records Exist Exit Flow</label>
        </rules>
    </decisions>
    <description>LAMBDA-53173 Automatically create Platinum Offer Item Feedback records when ISR logs a Renewal call</description>
    <formulas>
        <name>MakeTaskURL</name>
        <dataType>String</dataType>
        <expression>&apos;trilogy-sales.lightning.force.com/&apos;&amp;{!taskRecord.Id}</expression>
    </formulas>
    <interviewLabel>CreatePlatinum {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreatePlatinumOfferItem</label>
    <loops>
        <name>Loop_through_Opportunity_Products</name>
        <label>Loop through Opportunity Products</label>
        <locationX>286</locationX>
        <locationY>782</locationY>
        <collectionReference>GetRelatedOpportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssingProductIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Platinum_Offer_Item_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Platinum_Offer_Items</name>
        <label>Loop through Platinum Offer Items</label>
        <locationX>286</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_Platinum_Offer_Item_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPlatinumItemIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Platinum_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_the_Item_Products</name>
        <label>Loop Through the Item Products</label>
        <locationX>286</locationX>
        <locationY>1598</locationY>
        <collectionReference>Get_Platinum_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Feedback_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Platinum_feedback_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platinum_feedback_records</name>
        <label>Create Platinum feedback records</label>
        <locationX>286</locationX>
        <locationY>2006</locationY>
        <inputReference>PlatinumOfferItemFeedbackRecordsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Platinum_Offer_Item_Feedback_Records</name>
        <label>Get Existing Platinum Offer Item Feedback Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecordCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskRecord.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Platinum_Offer_Item_Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Platinum_Items</name>
        <label>Get Platinum Items</label>
        <locationX>286</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_the_Item_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PlatinumItemIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Platinum_Offer_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Platinum_Offer_Item_Products</name>
        <label>Get Platinum Offer Item Products</label>
        <locationX>286</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Platinum_Offer_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>OpportunityProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Item_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Platinum_Offer_Item_Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Item_Active__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Platinum_Offer_Item__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedOpportunityProducts</name>
        <label>GetRelatedOpportunityProducts</label>
        <locationX>418</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignProductCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskRecord.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Platinum_Offer_Item_Feedback_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfOpportunityProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ExistingRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpportunityProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatinumItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatinumOfferItemFeedbackRecordsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Platinum_Offer_Item_Feedback__c</objectType>
    </variables>
    <variables>
        <name>PlatinumOfferItemFeedbackTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Platinum_Offer_Item_Feedback__c</objectType>
    </variables>
    <variables>
        <description>Related Task Records</description>
        <name>taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
