metadata/sf-prod/force-app/main/default/flows/CreateQCSummaryOrScorecardIfNeeded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Matching_Rule_Assignment</name>
        <label>Matching Rule Assignment</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MatchingRuleFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QC_Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Link Task to scorecard</description>
        <name>Set_Scorecard_Id</name>
        <label>Set Scorecard Id</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>MyTask.QC_Scorecard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_QC_Scorecard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Summary_Id</name>
        <label>Set Summary Id</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>MyTask.QC_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_QC_Summary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QC_Scorecard</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Matching_Rule</name>
        <label>Check Matching Rule</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Rule_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Unit_Type_Matched</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Matching Rule Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Unit_Type</name>
        <label>Check Work Unit Type</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_QC_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Unit_Type_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QC_Rules.Enforced_On__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MyTask.Work_Unit_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Rule_Assignment</targetReference>
            </connector>
            <label>Work Unit Type Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Summary</name>
        <label>Needs Summary</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Summary_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyTask.QC_Summary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_QC_Rules</targetReference>
            </connector>
            <label>Summary is null</label>
        </rules>
    </decisions>
    <description>Creates QC Summary for Tasks without one and one Scorecard if the Task is Renewal Call and does not skip QC</description>
    <formulas>
        <name>MakeQCScorecardName</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!QCRecordsName}) &gt; 80, LEFT({!QCRecordsName}, 77) &amp; &quot;...&quot;, {!QCRecordsName})</expression>
    </formulas>
    <formulas>
        <name>MakeQCSummaryName</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!QCRecordsName}) &gt; 80, LEFT({!QCRecordsName}, 77) &amp; &quot;...&quot;, {!QCRecordsName})</expression>
    </formulas>
    <formulas>
        <name>MakeTaskURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Task/&apos;&amp;{!MyTask.Id}&amp;&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>QCRecordsName</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK(TEXT({!MyTask.Work_Unit_Type__c})), TEXT({!MyTask.Work_Unit_Type__c}) &amp; &apos; -&apos;,&apos;&apos;) &amp;
IF(!ISBLANK({!MyTask.Owner:User.FirstName}), &apos; &apos; &amp; {!MyTask.Owner:User.FirstName}, &apos;&apos;) &amp; 
IF(!ISBLANK({!MyTask.Owner:User.LastName}), &apos; &apos; &amp; {!MyTask.Owner:User.LastName}, &apos;&apos;) &amp; 
IF(!ISBLANK(TEXT({!MyTask.ActivityDate})), &apos; - &apos; &amp; TEXT({!MyTask.ActivityDate}),&apos;&apos;) &amp; 
IF(!ISBLANK({!Get_Opportunity.Name}), &apos; - &apos; &amp; {!Get_Opportunity.Name},&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>CreateQCSummaryOrScorecardIfNeeded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateQCSummaryOrScorecardIfNeeded</label>
    <loops>
        <name>Loop_QC_Rules</name>
        <label>Loop QC Rules</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>ActiveQCRules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Work_Unit_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Matching_Rule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_QC_Scorecard</name>
        <label>Create QC Scorecard</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Set_Scorecard_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MakeQCScorecardName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Summary__c</field>
            <value>
                <elementReference>Create_QC_Summary</elementReference>
            </value>
        </inputAssignments>
        <object>QC_Scorecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_QC_Summary</name>
        <label>Create QC Summary</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Set_Summary_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MakeQCSummaryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Created_Date__c</field>
            <value>
                <elementReference>MyTask.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Subject__c</field>
            <value>
                <elementReference>MyTask.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_URL_Href__c</field>
            <value>
                <elementReference>MakeTaskURL</elementReference>
            </value>
        </inputAssignments>
        <object>QC_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_QC_Rules</name>
        <label>Get Active QC Rules</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_QC_Rules</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Enforced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>MyTask.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Grader_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoAI</stringValue>
            </value>
        </filters>
        <object>QC_Rule__c</object>
        <outputReference>ActiveQCRules</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Enforced_On__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_QC_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyTask.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Task</name>
        <label>Save Task</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <inputReference>MyTask</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Needs_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveQCRules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QC_Rule__c</objectType>
    </variables>
    <variables>
        <name>MatchingRuleFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MyTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
