metadata/sf-prod/force-app/main/default/flows/Create_Win_Back_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Contact_Role</name>
        <label>Add Contact Role</label>
        <locationX>534</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>newContactRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_existing_open_WinBack_opp_Id</name>
        <label>Assign existing open WinBack opp Id</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>winBackOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>openWinBack.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Open_WinBack_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_open_Win_Back_opp_Id</name>
        <label>Assign new open Win Back opp Id</label>
        <locationX>446</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>winBackOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Win_Back_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_New_Win_Back_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Role</name>
        <label>Set Contact Role</label>
        <locationX>534</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>tempContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Win_Back_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_Role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Partner</name>
        <label>Has Partner?</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Partner_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Partner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_for_Win_Back_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_there_is_an_open_WinBack_opp</name>
        <label>If there is an open WinBack opp</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_there_is_an_open_WinBack_opp_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>openWinBack</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_existing_open_WinBack_opp_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>LAMBDA-68809 Create Win Back Opportunity from Closed Lost Renewal</description>
    <formulas>
        <name>winBackOppURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_570},FIND(&quot;/&quot;,{!$Api.Partner_Server_URL_570},10)) &amp; {!winBackOppId}</expression>
    </formulas>
    <interviewLabel>Create Win Back Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Win Back Opportunity</label>
    <loops>
        <name>Loop_Contact_Roles</name>
        <label>Loop Contact Roles</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <collectionReference>Opportunity_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Win_Back_Opportunity</name>
        <label>Create a Win Back Opportunity</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>New_Win_Back_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date_for_the_Win_Back_opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentContractHasAutoRenewalClause__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.CurrentContractHasAutoRenewalClause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_ARR__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Addons_ARR__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_Addons_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Addons__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_Addons__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Billing_Account__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_Billing_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Billing_Term__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_Billing_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Product_Edition_Label__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_Product_Edition_Label__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Product_Edition__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_Product_Edition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Product__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Subscription_Start_Date__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_Subscription_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Success_Level__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_Success_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_TCV__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_TCV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Term__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Current_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Draft_Renewal_Subscription_Name__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Draft_Renewal_Subscription_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Win Back</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Subscription_ID__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Parent_Subscription_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Subscription_Name__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Parent_Subscription_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Configuration__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Product_Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Renewal_Opportunity_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Win Back</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Back_For__c</field>
            <value>
                <elementReference>Closed_Lost_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact_Roles</name>
        <label>Create New Contact Roles</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Assign_new_open_Win_Back_opp_Id</targetReference>
        </connector>
        <inputReference>newContactRoles</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner_for_Win_Back_Opp</name>
        <label>Create Partner for Win Back Opp</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Opportunity_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountToId</field>
            <value>
                <elementReference>Opportunity_Partner.AccountToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <elementReference>Opportunity_Partner.IsPrimary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>New_Win_Back_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>Opportunity_Partner.Role</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityPartner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Closed Lost opportunity based on the id passed in to this flow</description>
        <name>Closed_Lost_Opportunity</name>
        <label>Closed Lost Opportunity</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_Win_Back_Opportunity</name>
        <label>New Win Back Opportunity</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_a_Win_Back_Opportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check if there is an open WinBack opportunity related to current Closed Lost Opportunity</description>
        <name>Open_WinBack_Opportunity</name>
        <label>Open WinBack Opportunity</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_there_is_an_open_WinBack_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Win_Back_For__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>openWinBack</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Contacts</name>
        <label>Opportunity Contacts</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Closed_Lost_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Partner Account Id</description>
        <name>Opportunity_Partner</name>
        <label>Opportunity Partner</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Closed_Lost_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityPartner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Renewal_Opportunity_Record_Type</name>
        <label>Renewal Opportunity Record Type</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Win_Back_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Created_New_Win_Back_Opportunity</name>
        <label>Created New Win Back Opportunity</label>
        <locationX>446</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreateNewWinBackMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Created a Win Back opportunity:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!winBackOppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;{!New_Win_Back_Opportunity.Name}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Open_WinBack_Opportunity</name>
        <label>Existing Open WinBack Opportunity</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExistingOpenWinBackMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Found an existing open Win Back opportunity:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: &lt;a href=&quot;{!winBackOppURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!openWinBack.Name}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Stage: &lt;strong&gt;{!openWinBack.StageName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Created Date: &lt;strong&gt;{!openWinBack.CreatedDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Closed_Lost_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Close_Date_for_the_Win_Back_opportunity</name>
            <dataType>Date</dataType>
            <fieldText>Close Date for the Win Back opportunity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Open_WinBack_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>openWinBack</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>winBackOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
