metadata/sf-prod/force-app/main/default/flows/Generate_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Quote_Lines</name>
        <label>Create Quote Lines</label>
        <locationX>1108</locationX>
        <locationY>4214</locationY>
        <actionName>CreateQuoteLines</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Enable_CPQ_Triggers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Enable_CPQ_Triggers</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currencyIsoCode</name>
            <value>
                <elementReference>Get_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mainProductLineId</name>
            <value>
                <elementReference>Create_Main_Product_Line</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newSuccessLevel</name>
            <value>
                <elementReference>FormSuccessLevelCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextBundledQuoteLineNumber</name>
            <value>
                <elementReference>OptionNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>Get_New_Product.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subscriptionItems</name>
            <value>
                <elementReference>SubscriptionItems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subscriptionTerm</name>
            <value>
                <elementReference>Subscription_Term</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Disable_Quote_Triggers</name>
        <label>Disable Quote Triggers</label>
        <locationX>1319</locationX>
        <locationY>3802</locationY>
        <actionName>QuoteSBQQDisable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Option_Quote_Lines</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Enable_CPQ_Triggers</name>
        <label>Enable CPQ Triggers</label>
        <locationX>1585</locationX>
        <locationY>4322</locationY>
        <actionName>QuoteSBQQEnable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Get_Netsuite_Items</name>
        <label>Get Netsuite Items</label>
        <locationX>806</locationX>
        <locationY>566</locationY>
        <actionName>GetSubscriptionItemsFromNetsuite</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Subscription_Items</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requestParams</name>
            <value>
                <elementReference>Get_Opportunity.Parent_Subscription_ID__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SubscriptionItems</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_base_quote_line</name>
        <label>Assign base quote line</label>
        <locationX>953</locationX>
        <locationY>3415</locationY>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__Bundled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__OptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Component</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__OptionLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__RequiredBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Main_Product_Line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_Term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Product_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>In order to know if this item is a bundle</description>
        <name>Assign_Bundle_Items_Quantity</name>
        <label>Assign Bundle Items Quantity</label>
        <locationX>1403</locationX>
        <locationY>3308</locationY>
        <assignmentItems>
            <assignToReference>BundleItemsQuantity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_bundle_items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_item_codes</name>
        <label>Assign item codes</label>
        <locationX>399</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>AllCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Items.bundleCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Items.code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Items.supportCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_main_item</name>
        <label>Assign main item</label>
        <locationX>641</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>mainSubscriptionItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Subscription_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_item_codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Main_Product</name>
        <label>Assign Main Product</label>
        <locationX>800</locationX>
        <locationY>1797</locationY>
        <assignmentItems>
            <assignToReference>MainProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Main_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Main_Product2</name>
        <label>Assign Main Product</label>
        <locationX>50</locationX>
        <locationY>1702</locationY>
        <assignmentItems>
            <assignToReference>MainProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products_Filtered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Main_Product_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Main_Subscription_Item</name>
        <label>Assign Main Subscription Item</label>
        <locationX>718</locationX>
        <locationY>2047</locationY>
        <assignmentItems>
            <assignToReference>mainSubscriptionItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Main_Subscription_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_product_id</name>
        <label>Assign new product id</label>
        <locationX>894</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>NewProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Product.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_product_id2</name>
        <label>Assign new product id</label>
        <locationX>1120</locationX>
        <locationY>2401</locationY>
        <assignmentItems>
            <assignToReference>NewProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Product_By_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_product_id3</name>
        <label>Assign new product id</label>
        <locationX>1480</locationX>
        <locationY>2592</locationY>
        <assignmentItems>
            <assignToReference>NewProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Product2.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_option_values_bundle_item</name>
        <label>Assign option values bundle item</label>
        <locationX>1404</locationX>
        <locationY>3586</locationY>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OptionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__PackageProductDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Product_Options.SBQQ__OptionalSKU__r.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__ProductOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Bundle_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Bundle_Items.SBQQ__OptionalSKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__PricingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Bundle_Items.SBQQ__OptionalSKU__r.SBQQ__PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptionNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__BundledQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__OptionLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__Bundle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentQuoteLine.SBQQ__RequiredBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_QuoteLine_to_List_bundle_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the optional SKU from the loop to the Optional SKUs collection</description>
        <name>Assign_Optional_SKU</name>
        <label>Assign Optional SKU</label>
        <locationX>676</locationX>
        <locationY>3233</locationY>
        <assignmentItems>
            <assignToReference>Optional_SKUs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Product_Options_1.SBQQ__OptionalSKU__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Product_Options_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QuoteLine_to_List_bundle_item</name>
        <label>Assign QuoteLine to List Bundle Item</label>
        <locationX>1559</locationX>
        <locationY>3541</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentQuoteLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Option_Number</name>
        <label>Increment Option Number</label>
        <locationX>1700</locationX>
        <locationY>3407</locationY>
        <assignmentItems>
            <assignToReference>OptionNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Bundle_Items</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Term12</name>
        <choiceText>12</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Term36</name>
        <choiceText>36</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>36.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Term60</name>
        <choiceText>60</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </choices>
    <collectionProcessors>
        <description>Filter bundle items from optional SKUs to create quote lines for the bundle items</description>
        <name>Filter_bundle_items</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter bundle items</label>
        <locationX>1286</locationX>
        <locationY>3414</locationY>
        <assignNextValueToReference>currentItem_Filter_bundle_items</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Items_From_Optional_SKUs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_bundle_items.SBQQ__ConfiguredSKU__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Product_Options.SBQQ__OptionalSKU__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Bundle_Items_Quantity</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter products</label>
        <locationX>278</locationX>
        <locationY>1436</locationY>
        <assignNextValueToReference>currentItem_Filter_products_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_products_0.ProductCode</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_AllCodes</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Products_Filtered</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_Main_Subscription_Item</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find Main Subscription Item</label>
        <locationX>236</locationX>
        <locationY>1979</locationY>
        <assignNextValueToReference>currentItem_Find_Main_Subscription_Item</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>SubscriptionItems</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_Main_Subscription_Item.bundleCode</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>MainProduct.ProductCode</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Main_Subscription_Item</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Main_Product</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Main Product</label>
        <locationX>796</locationX>
        <locationY>1309</locationY>
        <assignNextValueToReference>currentItem_Get_Main_Product</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Main_Product.ProductCode</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>mainSubscriptionItem.bundleCode</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Main_Product</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>If there is a parent Id, we are searching Netsuite to get the Items and quantities.
If there is no parent Id, we are trying to search the product by name and quantity will be 1.</description>
        <name>Has_Parent_Id</name>
        <label>Has Parent Id</label>
        <locationX>931</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Parent_Subscription_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Netsuite_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Main_Item</name>
        <label>Is Main Item</label>
        <locationX>561</locationX>
        <locationY>774</locationY>
        <defaultConnector>
            <targetReference>Assign_item_codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MainItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Subscription_Items.isMainItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_main_item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Main_Item_Assigned</name>
        <label>Is Main Item Assigned</label>
        <locationX>582</locationX>
        <locationY>1205</locationY>
        <defaultConnector>
            <targetReference>Loop_AllCodes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MainItemAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mainSubscriptionItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Main_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Main_Product_Assigned</name>
        <label>Is Main Product Assigned</label>
        <locationX>343</locationX>
        <locationY>1819</locationY>
        <defaultConnector>
            <targetReference>Loop_Products_Filtered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MainProductAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MainProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Main_Subscription_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Product_Found</name>
        <label>New Product Found?</label>
        <locationX>1282</locationX>
        <locationY>2373</locationY>
        <defaultConnector>
            <targetReference>Select_new_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ProductFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Product_By_Code.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_product_id2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Product_Selected</name>
        <label>New Product Selected?</label>
        <locationX>1084</locationX>
        <locationY>2104</locationY>
        <defaultConnector>
            <targetReference>Find_Product_By_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Product.selectedChoiceLabels</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_product_id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GetContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountToGetContacts</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetProducts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Component__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SuccessLevelPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Success_Level__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountToGetContacts</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_Partner.AccountToId}, {!Get_Opportunity.AccountId})</expression>
    </formulas>
    <formulas>
        <description>Return the code without MNT if maintenance and empty for invalid code</description>
        <name>CurrentMainProductBaseCode</name>
        <dataType>String</dataType>
        <expression>IF({!CurrentMainProductHasValidCode},
IF({!CurrentMainProductIsMaintenance},LEFT({!MainProduct.ProductCode}, LEN({!MainProduct.ProductCode})-4),{!MainProduct.ProductCode}),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>CurrentMainProductHasValidCode</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!MainProduct.ProductCode}, &quot;^([^-]+-){4}(SIL|GOL|PLA)(-MNT)?$&quot;)</expression>
    </formulas>
    <formulas>
        <name>CurrentMainProductIsMaintenance</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!MainProduct.ProductCode}, &quot;^([^-]+-){4}(SIL|GOL|PLA)-MNT$&quot;)</expression>
    </formulas>
    <formulas>
        <name>CurrentProduct</name>
        <dataType>String</dataType>
        <expression>IF(REGEX({!Get_Opportunity.Current_Product__c}, &quot;.*-\\d{3}$&quot;), LEFT({!Get_Opportunity.Current_Product__c}, LEN({!Get_Opportunity.Current_Product__c})-4), {!Get_Opportunity.Current_Product__c})</expression>
    </formulas>
    <formulas>
        <name>CurrentSuccessLevel</name>
        <dataType>String</dataType>
        <expression>IF({!CurrentSuccessLevelCode}=&quot;SIL&quot;, &quot;Standard&quot;, IF({!CurrentSuccessLevelCode}=&quot;GOL&quot;, &quot;Gold&quot;, IF({!CurrentSuccessLevelCode}=&quot;PLA&quot;, &quot;Platinum&quot;,&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>CurrentSuccessLevelCode</name>
        <dataType>String</dataType>
        <expression>IF({!CurrentMainProductHasValidCode},RIGHT({!CurrentMainProductBaseCode}, 3),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormSuccessLevelCode</name>
        <dataType>String</dataType>
        <expression>IF({!Success_Level}=&quot;Standard&quot;, &quot;SIL&quot;, IF({!Success_Level}=&quot;Gold&quot;, &quot;GOL&quot;, IF({!Success_Level}=&quot;Platinum&quot;, &quot;PLA&quot;,&quot;LEG&quot;)))</expression>
    </formulas>
    <formulas>
        <description>If the bundle items quantity is more than 0 it means is a bundle</description>
        <name>IsBundle</name>
        <dataType>Boolean</dataType>
        <expression>{!BundleItemsQuantity} &gt; 0</expression>
    </formulas>
    <formulas>
        <description>Main Item Quantity after checking against min e max quantity in the product</description>
        <name>MainItemFinalQuantity</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!Get_New_Product.Min_Quantity__c})) &amp;&amp; {!Get_New_Product.Min_Quantity__c} &gt; {!MainItemQuantity}, {!Get_New_Product.Min_Quantity__c}, IF(NOT(ISBLANK({!Get_New_Product.Max_Quantity__c})) &amp;&amp; {!Get_New_Product.Max_Quantity__c} &lt; {!MainItemQuantity}, {!Get_New_Product.Max_Quantity__c}, {!MainItemQuantity}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Main Item quantity from the Main Subscription Item or 1 if main subscription item is not set</description>
        <name>MainItemQuantity</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!mainSubscriptionItem.quantity}),1,{!mainSubscriptionItem.quantity})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewBasePrice</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!Get_Opportunity.Price_Reset__c})=&quot;Price Reset&quot; &amp;&amp; NOT(ISBLANK({!Get_Opportunity.Product_Configuration__r.Uptick_Multiplier__c})), {!Get_Opportunity.Current_ARR__c}*{!Get_Opportunity.Product_Configuration__r.Uptick_Multiplier__c}, {!Get_Opportunity.Current_ARR__c}*{!uptickMultiplier})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(CURRENCYRATE(TEXT({!Get_Opportunity.CurrencyIsoCode}))*{!Get_New_Product.Floor_Price__c} &gt; {!NewBasePrice},CURRENCYRATE(TEXT({!Get_Opportunity.CurrencyIsoCode}))*{!Get_New_Product.Floor_Price__c},{!NewBasePrice})*{!termMultiplier}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewProductBaseCode</name>
        <dataType>String</dataType>
        <expression>IF({!NewProductHasValidCode},
IF({!NewProductIsMaintenance},LEFT({!Get_New_Product.ProductCode}, LEN({!Get_New_Product.ProductCode})-4),{!Get_New_Product.ProductCode}),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NewProductCode</name>
        <dataType>String</dataType>
        <expression>LEFT({!CurrentMainProductBaseCode}, LEN({!CurrentMainProductBaseCode})-3) &amp; {!FormSuccessLevelCode} &amp; IF({!CurrentMainProductIsMaintenance},&quot;-MNT&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NewProductHasValidCode</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Get_New_Product.ProductCode}, &quot;^([^-]+-){4}(SIL|GOL|PLA)(-MNT)?$&quot;)</expression>
    </formulas>
    <formulas>
        <name>NewProductIsMaintenance</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Get_New_Product.ProductCode}, &quot;^([^-]+-){4}(SIL|GOL|PLA)-MNT$&quot;)</expression>
    </formulas>
    <formulas>
        <name>NewSuccessLevelCode</name>
        <dataType>String</dataType>
        <expression>IF({!NewProductHasValidCode},RIGHT({!NewProductBaseCode}, 3),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>OptionQuantity</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!Loop_Product_Options.SBQQ__OptionalSKU__r.Min_Quantity__c})) &amp;&amp; {!Loop_Product_Options.SBQQ__OptionalSKU__r.Min_Quantity__c} &gt; {!MainItemFinalQuantity}, {!Loop_Product_Options.SBQQ__OptionalSKU__r.Min_Quantity__c}, IF(NOT(ISBLANK({!Loop_Product_Options.SBQQ__OptionalSKU__r.Max_Quantity__c})) &amp;&amp; {!Loop_Product_Options.SBQQ__OptionalSKU__r.Max_Quantity__c} &lt; {!MainItemFinalQuantity}, {!Loop_Product_Options.SBQQ__OptionalSKU__r.Max_Quantity__c}, {!MainItemFinalQuantity}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QuoteUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_570},FIND(&quot;/&quot;,{!$Api.Partner_Server_URL_570},10)) &amp; {!Create_Quote}</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISPICKVAL({!Get_Opportunity.Type},&apos;Renewal&apos;), {!Get_Opportunity.Renewal_Date__c},{!Get_Opportunity.CloseDate}+1)</expression>
    </formulas>
    <formulas>
        <name>termMultiplier</name>
        <dataType>Number</dataType>
        <expression>{!Subscription_Term}/12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>uptickMultiplier</name>
        <dataType>Number</dataType>
        <expression>IF({!NewSuccessLevelCode}=&quot;PLA&quot;,1.45,IF({!NewSuccessLevelCode}=&quot;GOL&quot;,1.35,1.25))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Generate Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Quote</label>
    <loops>
        <name>Loop_AllCodes</name>
        <label>Loop AllCodes</label>
        <locationX>388</locationX>
        <locationY>1250</locationY>
        <collectionReference>AllCodes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop the bundle items to create quote lines</description>
        <name>Loop_Bundle_Items</name>
        <label>Loop Bundle Items</label>
        <locationX>1199</locationX>
        <locationY>3532</locationY>
        <collectionReference>Filter_bundle_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_option_values_bundle_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Product_Options</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Main_Product</name>
        <label>Loop Main Product</label>
        <locationX>796</locationX>
        <locationY>1492</locationY>
        <collectionReference>Get_Main_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Main_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Main_Subscription_Item</name>
        <label>Loop Main Subscription Item</label>
        <locationX>424</locationX>
        <locationY>1980</locationY>
        <collectionReference>Find_Main_Subscription_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Main_Subscription_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Product_Options</name>
        <label>Loop Product Options</label>
        <locationX>1096</locationX>
        <locationY>3417</locationY>
        <collectionReference>Get_Included_Product_Options</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_bundle_items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Not_Included_Product_Options</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop product options to build Optional SKUs collection</description>
        <name>Loop_Product_Options_1</name>
        <label>Loop Product Options</label>
        <locationX>874</locationX>
        <locationY>3225</locationY>
        <collectionReference>Get_Included_Product_Options</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Optional_SKU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Items_From_Optional_SKUs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Products_Filtered</name>
        <label>Loop Products Filtered</label>
        <locationX>80</locationX>
        <locationY>1353</locationY>
        <collectionReference>Filter_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Main_Product2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_AllCodes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop all subscription items returned to find the main item and assign variables to search.</description>
        <name>Loop_Subscription_Items</name>
        <label>Loop Subscription Items</label>
        <locationX>806</locationX>
        <locationY>686</locationY>
        <collectionReference>SubscriptionItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Main_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Main_Product_Line</name>
        <label>Create Main Product Line</label>
        <locationX>1092</locationX>
        <locationY>3110</locationY>
        <connector>
            <targetReference>Get_Included_Product_Options</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Bundle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Description__c</field>
            <value>
                <elementReference>Get_New_Product.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Number__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricingMethod__c</field>
            <value>
                <elementReference>Get_New_Product.SBQQ__PricingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Get_New_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <elementReference>MainItemFinalQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>Subscription_Term</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Option_Quote_Lines</name>
        <label>Create Option Quote Lines</label>
        <locationX>1092</locationX>
        <locationY>3857</locationY>
        <connector>
            <targetReference>Get_New_Quote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Enable_CPQ_Triggers</targetReference>
        </faultConnector>
        <inputReference>QuoteLineOptions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>1092</locationX>
        <locationY>2989</locationY>
        <connector>
            <targetReference>Create_Main_Product_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryContact__c</field>
            <value>
                <elementReference>Primary_Contact.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <elementReference>Primary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SalesRep__c</field>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__TargetCustomerAmount__c</field>
            <value>
                <elementReference>NewPrice</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Need to create one by one here to be used the id to create the bundle items</description>
        <name>Create_Quote_Line</name>
        <label>Create Quote Line</label>
        <locationX>1552</locationX>
        <locationY>3303</locationY>
        <connector>
            <targetReference>Increment_Option_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Bundle__c</field>
            <value>
                <elementReference>IsBundle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BundledQuantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Bundled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Number__c</field>
            <value>
                <elementReference>OptionNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OptionLevel__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OptionType__c</field>
            <value>
                <stringValue>Component</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PackageProductDescription__c</field>
            <value>
                <elementReference>Loop_Product_Options.SBQQ__OptionalSKU__r.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricingMethod__c</field>
            <value>
                <elementReference>Loop_Product_Options.SBQQ__OptionalSKU__r.SBQQ__PricingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ProductOption__c</field>
            <value>
                <elementReference>Loop_Product_Options.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Loop_Product_Options.SBQQ__OptionalSKU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RequiredBy__c</field>
            <value>
                <elementReference>Create_Main_Product_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>Subscription_Term</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Product_By_Code</name>
        <label>Find Product By Code</label>
        <locationX>1290</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProductCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Component__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Products</name>
        <label>Get All Products</label>
        <locationX>796</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Main_Item_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>In</operator>
            <value>
                <elementReference>AllCodes</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Component__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Product</name>
        <label>Get Current Product</label>
        <locationX>1070</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Quote</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Current_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentProduct</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>MainProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <sortField>IsActive</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Included_Product_Options</name>
        <label>Get Included Product Options</label>
        <locationX>1091</locationX>
        <locationY>3227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Product_Options_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Bundled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Component</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <sortField>SBQQ__Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the items from the bundles that are below the main bundle</description>
        <name>Get_Items_From_Optional_SKUs</name>
        <label>Get Items From Optional SKUs</label>
        <locationX>772</locationX>
        <locationY>3413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_base_quote_line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Optional_SKUs</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Bundled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Component</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <sortField>SBQQ__Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Product</name>
        <label>Get New Product</label>
        <locationX>1092</locationX>
        <locationY>2870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Quote</name>
        <label>Get New Quote</label>
        <locationX>1107</locationX>
        <locationY>4044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote_Lines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Enable_CPQ_Triggers</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Not_Included_Product_Options</name>
        <label>Get Not Included Product Options</label>
        <locationX>1092</locationX>
        <locationY>3684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disable_Quote_Triggers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Bundled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>939</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner</name>
        <label>Get Partner</label>
        <locationX>938</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Parent_Id</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR (4 AND 5))</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VAR/Reseller</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountPartner</object>
        <sortField>Role</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>1111</locationX>
        <locationY>4353</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p&gt;The &lt;a href=&quot;{!QuoteUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;quote {!Get_New_Quote.Name}&lt;/a&gt; is generated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_Quote</name>
        <label>Generate Quote</label>
        <locationX>1042</locationX>
        <locationY>1974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Product_Selected</targetReference>
        </connector>
        <fields>
            <name>OpportunityName</name>
            <fieldText>&lt;p&gt;Opportunity&lt;/p&gt;&lt;p&gt;{!Get_Opportunity.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountName</name>
            <fieldText>&lt;p&gt;Account&lt;/p&gt;&lt;p&gt;{!Get_Opportunity.Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Contact</name>
            <choiceReferences>GetContact</choiceReferences>
            <defaultValue>
                <elementReference>Get_Opportunity.ContactId</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Primary Contact</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search Contacts...</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Primary</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Primary</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Select this checkbox to designate this quote as the primary one on the opportunity and sync quote line items with opportunity line items.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>StartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Start date for subscriptions in this quote&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Product</name>
            <choiceReferences>GetProducts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>New Product</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select the product for the quote</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>MainProduct.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CurrentSuccessLevel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Success_Level</name>
            <choiceReferences>SuccessLevelPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentSuccessLevel</elementReference>
            </defaultValue>
            <fieldText>Success Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MainProduct.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CurrentSuccessLevel</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subscription_Term</name>
            <choiceReferences>Term12</choiceReferences>
            <choiceReferences>Term36</choiceReferences>
            <choiceReferences>Term60</choiceReferences>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Current_Term__c</elementReference>
            </defaultValue>
            <fieldText>Subscription Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Generate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_new_product</name>
        <label>Select new product</label>
        <locationX>1481</locationX>
        <locationY>2422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_new_product_id3</targetReference>
        </connector>
        <fields>
            <name>New_Product2</name>
            <choiceReferences>GetProducts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>New Product</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select the new product...</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>812</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BundleItemsQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_bundle_items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_products_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_Main_Subscription_Item</name>
        <apexClass>SubscriptionItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Main_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>CurrentQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>MainProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>mainSubscriptionItem</name>
        <apexClass>SubscriptionItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotIncludedProductCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Keep the optional SKUs from the main bundle. This is to be used to query the for items that are under these optional SKUs. The use case for this is when we have bundles that are automatically added to the main bundle and we also need to insert the bundle items.</description>
        <name>Optional_SKUs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OptionNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuoteLineOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionItems</name>
        <apexClass>SubscriptionItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
