metadata/sf-prod/force-app/main/default/flows/GenerateARPackageButton.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_the_Generate_Apex_package</name>
        <label>Call the Generate Apex package</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>OpportunityARPackageGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstOppyId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_recordId_to_OppyIds</name>
        <label>Assign recordId to OppyIds</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>oppyIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_the_Generate_Apex_package</targetReference>
        </connector>
    </assignments>
    <description>This flow invokes a method to generate and attach AR package to the opportunity record in files section</description>
    <interviewLabel>GenerateARPackageButton {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GenerateARPackageButton</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirmation_message</name>
            <fieldText>&lt;p&gt;AR package has been scheduled please check the &lt;strong&gt;Files or Notes and Attachments&lt;/strong&gt; section in few minutes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_recordId_to_OppyIds</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>oppyIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>RecordId to call</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
