metadata/sf-prod/force-app/main/default/flows/Notify_ISR_Renewals_On_Close_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Chatter_message</name>
        <label>Post Chatter message</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Send_notification_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Chatter_message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>If_Close_Date_is_today_and_Owner_is_in_ISR_Renewals_role</name>
        <label>If Close Date is today and Owner is in &apos;ISR Renewals&apos; role</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Close Date is not today or Owner is not in &apos;ISR Renewals&apos;</defaultConnectorLabel>
        <rules>
            <name>Close_Date_is_today_and_Owner_in_ISR_Renewals_role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Close_Date_is_today</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISR Renewals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Configuration__r.Renewal_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Chatter_message</targetReference>
            </connector>
            <label>Close Date is today and Owner in &apos;ISR Renewals&apos; role</label>
        </rules>
    </decisions>
    <description>Posts a message to Chatter tagging the opportunity owner and sends a email for renewal opportunities at close date.

2023/05/16 -LAMBDA-58992- Include SF Opp link in the email notification</description>
    <formulas>
        <name>Close_Date_is_today</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.CloseDate} - TODAY() == 0</expression>
    </formulas>
    <formulas>
        <name>Email_recipients</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Product_Configuration__r.Renewal_Manager__c}), &apos;&apos;, {!$Record.Product_Configuration__r.Renewal_Manager__r.Email} &amp; &apos;,&apos;)
&amp; {!$Record.Owner.Email}</expression>
    </formulas>
    <formulas>
        <name>RecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260},FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_260}))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Notify ISR Renewals On Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify ISR Renewals On Close Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Close_Date_is_today_and_Owner_is_in_ISR_Renewals_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-02</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_notification_email</name>
        <label>Send notification email</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <flowName>Send_email</flowName>
        <inputAssignments>
            <name>Body</name>
            <value>
                <elementReference>Email_body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Recipients</name>
            <value>
                <elementReference>Email_recipients</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <elementReference>Email_subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Chatter_message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The renewal process for this Opportunity should be completed by {!$Record.CloseDate}.
cc: @[{!$Record.Product_Configuration__r.Renewal_Manager__c}], @[{!$Record.Owner.Id}]</text>
    </textTemplates>
    <textTemplates>
        <name>Email_body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The renewal process for the Opportunity &quot;{!$Record.Name}&quot; (Id: {!$Record.Id}) should be completed by {!$Record.CloseDate}.
Opportunity Link : {!RecordLink}</text>
    </textTemplates>
    <textTemplates>
        <name>Email_subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Opportunity &quot;{!$Record.Name}&quot; is due now</text>
    </textTemplates>
</Flow>
