metadata/sf-prod/force-app/main/default/flows/Notify_On_Incoming_Renewals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Opportunity_0</name>
        <label>Notify Opportunity</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Message_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Get_Completed_Calls_Count_0</name>
        <label>Get Completed Calls Count</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>CompletedCallsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Completed_Calls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_There_Are_No_Completed_Calls_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Renewal_Date_Is_In_30_Days_And_Owner_is_in_ISR_Renewals_Role</name>
        <label>If Renewal Date Is In 30 Days And Owner is in &apos;ISR Renewals&apos; Role</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Is Not In 30 Days</defaultConnectorLabel>
        <rules>
            <name>Is_In_30_Days_and_Owner_In_ISR_Renewals_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Renewal_Date_Is_In_30_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISR Renewals</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Completed_Calls</targetReference>
            </connector>
            <label>Is In 30 Days and Owner In &apos;ISR Renewals&apos; Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_There_Are_No_Completed_Calls_0</name>
        <label>If There Are No Completed Calls</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>There are completed calls</defaultConnectorLabel>
        <rules>
            <name>No_Completed_Calls_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompletedCallsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Opportunity_0</targetReference>
            </connector>
            <label>No Completed Calls</label>
        </rules>
    </decisions>
    <description>Posts a chatter message and tags the opportunity owner and their manager if the Renewal Opportunity is 30 days before the Renewal Date and there hasn&apos;t been any completed calls.</description>
    <formulas>
        <name>Renewal_Date_Is_In_30_Days</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Renewal_Date__c} - TODAY() == 30</expression>
    </formulas>
    <interviewLabel>Notify On Incoming Renewals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Renewal Opps 30 Days Before Renewal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Completed_Calls</name>
        <label>Find Completed Calls</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Completed_Calls_Count_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallDisposition</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Renewal_Date_Is_In_30_Days_And_Owner_is_in_ISR_Renewals_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-18</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Message_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This opportunity is less than 30 days from the close date with no completed calls logged.
cc: @[{!$Record.Owner.Manager.Id}], @[{!$Record.Owner.Id}]</text>
    </textTemplates>
    <variables>
        <name>CompletedCallsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
