metadata/sf-prod/force-app/main/default/flows/On_Call_Transcript_Ready_QC_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Prepare data structure for QC Backend</description>
        <name>Prep_DS_for_QC</name>
        <label>Prep DS for QC</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>QCJobPrepare</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Start_QC_Job</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Request QC Server to start QC job</description>
        <name>Start_QC_Job</name>
        <label>Start QC Job</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>QCBackend.postQcjob</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Save_QC_Job</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Prep_DS_for_QC.jobRequest</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <description>QC the Task when the transcript is generated</description>
    <interviewLabel>On Call Transcript Ready - QC Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Call Transcript Ready - QC Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Store QC Job details</description>
        <name>Save_QC_Job</name>
        <label>Save QC Job</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Job_ID__c</field>
            <value>
                <elementReference>Start_QC_Job.200.jobID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Record_Type__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>new</stringValue>
            </value>
        </inputAssignments>
        <object>QC_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Prep_DS_for_QC</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
