metadata/sf-prod/force-app/main/default/flows/On_CreateOrUpdate_CSMOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_CSM_Milestone_Result_To_List_to_Create</name>
        <label>Add CSM Milestone Result To List to Create</label>
        <locationX>670</locationX>
        <locationY>1577</locationY>
        <assignmentItems>
            <assignToReference>CSMMilestonesResultstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCSMMilestoneResultToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_CSM_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_opportunities_counter_and_total_health_score</name>
        <label>Add opportunities counter and total health score</label>
        <locationX>1998</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>CountCSMOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalHealthScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_CSM_Opportunities.Health_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_CSM_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning picklists to variable to check if values match</description>
        <name>AssignCurrentProductFamiliesAndSuccessLevels</name>
        <label>Assign Current Product Families And Success Levels</label>
        <locationX>315</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>CurrentCSMMilestoneProductFamilies</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_CSM_Milestones.Product_Families__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCSMMilestoneSuccessLevels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_CSM_Milestones.Success_Levels__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product_Family_and_Success_Level</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count the CSM Milestone to the variable CountApplicableCSMMilestones</description>
        <name>Count_CSM_Milestone</name>
        <label>Count CSM Milestone</label>
        <locationX>65</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>CountApplicableCSMMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_CSM_Milestone_Result_Object</name>
        <label>Create CSM Milestone Result Object</label>
        <locationX>316</locationX>
        <locationY>1577</locationY>
        <assignmentItems>
            <assignToReference>CurrentCSMMilestoneResultToCreate.CSM_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_CSM_Milestones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCSMMilestoneResultToCreate.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCSMMilestoneResultToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CSMMilestoneResultName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CSM_Milestone_Result_To_List_to_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Changed_Health_Score</name>
        <label>Changed Health Score?</label>
        <locationX>1497</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>Health_Score_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Health_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Health_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSM_Opportunities</targetReference>
            </connector>
            <label>Health Score Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If it already exists, skip creation of CSM Milestone Result.</description>
        <name>Check_if_exists</name>
        <label>Check if exists</label>
        <locationX>523</locationX>
        <locationY>1339</locationY>
        <defaultConnector>
            <targetReference>Loop_through_current_CSM_Milestone_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_CSM_Milestones.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_current_CSM_Milestone_Results.CSM_Milestone__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_CSM_Milestones</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Flow can&apos;t filter multi-select picklists when getting the records, so we are checking here if product family and success level match</description>
        <name>Check_Product_Family_and_Success_Level</name>
        <label>Check Product Family and Success Level</label>
        <locationX>307</locationX>
        <locationY>1003</locationY>
        <defaultConnector>
            <targetReference>Loop_through_CSM_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Product Family or Success Level</defaultConnectorLabel>
        <rules>
            <name>Same_Product_Family_and_Success_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckProductFamilyAndSuccessLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_CSM_Milestone</targetReference>
            </connector>
            <label>Same Product Family and Success Level</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if CSM Milestone is in same stage of opportunity</description>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>343</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>Loop_through_CSM_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different stage</defaultConnectorLabel>
        <rules>
            <name>Same_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_CSM_Milestones.Success_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_current_CSM_Milestone_Results</targetReference>
            </connector>
            <label>Same stage</label>
        </rules>
    </decisions>
    <decisions>
        <description>If compared in initial conditions IsChanged true, it will not work for new records, and it’s not possible to check in initial conditions if a record is new or to compare with values of previous records, because that, this decision was created here to check if stage or success level changed and here it works for new and updated records.</description>
        <name>Has_it_changed</name>
        <label>Have the Stage or Success changed?</label>
        <locationX>657</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>Changed_Health_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Success_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Success_Level__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_CSM_Milestone_Results</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if required fields are empty</description>
        <name>Required_fields_are_empty</name>
        <label>Required fields are empty?</label>
        <locationX>656</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>Changed_Health_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Success_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_it_changed</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <description>Update Success Level and Total Applicable Milestones for CSM Opportunity and create CSM Milestone Results for the opportunity if they don&apos;t exist yet when stage or success level is changed.

LAMBDA-63138 enable Disable All Flows custom setting</description>
    <formulas>
        <description>Health Score average to update account</description>
        <name>AccountHealthScoreAverage</name>
        <dataType>Number</dataType>
        <expression>IF({!CountCSMOpportunities}=0,0,{!TotalHealthScore}/{!CountCSMOpportunities})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CheckProductFamilyAndSuccessLevel</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!CurrentCSMMilestoneProductFamilies},TEXT({!$Record.Product__c})) &amp;&amp; CONTAINS({!CurrentCSMMilestoneSuccessLevels},TEXT({!$Record.Success_Level__c}))</expression>
    </formulas>
    <formulas>
        <name>CSMMilestoneResultName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_through_CSM_Milestones.Success_Stage__c} + &apos; - &apos; + {!Loop_through_CSM_Milestones.Name} + &apos; - &apos; + {!$Record.Name},80)</expression>
    </formulas>
    <formulas>
        <name>OpportunitySuccessLevel</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Success_Level__c})</expression>
    </formulas>
    <formulas>
        <description>If opportunity has a contract, get success level from contract, if not, get success level from account</description>
        <name>SuccessLevel</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.ContractId != NULL}, {!$Record.Contract.Success_Level__c}, TEXT({!$Record.Account.Success_Level__c}))</expression>
    </formulas>
    <interviewLabel>On CreateOrUpdate CSMOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On CreateOrUpdate CSMOpportunity</label>
    <loops>
        <name>Loop_through_CSM_Milestones</name>
        <label>Loop through CSM Milestones</label>
        <locationX>662</locationX>
        <locationY>871</locationY>
        <collectionReference>Get_CSM_Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignCurrentProductFamiliesAndSuccessLevels</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CSM_Milestone_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_CSM_Opportunities</name>
        <label>Loop through CSM Opportunities</label>
        <locationX>1997</locationX>
        <locationY>315</locationY>
        <collectionReference>Get_CSM_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_opportunities_counter_and_total_health_score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_HealthScore</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_current_CSM_Milestone_Results</name>
        <label>Loop through current CSM Milestone Results</label>
        <locationX>317</locationX>
        <locationY>1345</locationY>
        <collectionReference>Get_Current_CSM_Milestone_Results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CSM_Milestone_Result_Object</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CSM_Milestone_Results</name>
        <label>Create CSM Milestone Results</label>
        <locationX>891</locationX>
        <locationY>870</locationY>
        <connector>
            <targetReference>Update_Total_Applicable_Milestones_field_in_Opportunity</targetReference>
        </connector>
        <inputReference>CSMMilestonesResultstoCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Getting CSM Milestones based only on Success Stage as salesforce triggers an error when filtering a multi-select picklist with operator Contains.</description>
        <name>Get_CSM_Milestones</name>
        <label>Get CSM Milestones</label>
        <locationX>662</locationX>
        <locationY>657</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_CSM_Milestones</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CSM_Milestone__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product_Families__c</queriedFields>
        <queriedFields>Success_Levels__c</queriedFields>
        <queriedFields>Success_Stage__c</queriedFields>
        <sortField>Order_of_Execution__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get CSM opportunities related to opportunity account</description>
        <name>Get_CSM_Opportunities</name>
        <label>Get CSM Opportunities</label>
        <locationX>1811</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_CSM_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Health_Score__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting all CSM Milestone Results from the opportunity because salesforce doesn&apos;t allow filters here for the product families and success levels. There will not be many records here, and later we can check comparing only with CSM Milestone Id.</description>
        <name>Get_Current_CSM_Milestone_Results</name>
        <label>Get Current CSM Milestone Results</label>
        <locationX>661</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CSM_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CSM_Milestone_Result__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CSM_Milestone__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_HealthScore</name>
        <label>Update Account HealthScore</label>
        <locationX>2291</locationX>
        <locationY>315</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Health_Score__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>AccountHealthScoreAverage</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Health_Score__c</field>
            <value>
                <elementReference>AccountHealthScoreAverage</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Success Level if is different</description>
        <name>Update_Success_Level</name>
        <label>Update Success Level</label>
        <locationX>477</locationX>
        <locationY>106</locationY>
        <connector>
            <targetReference>Required_fields_are_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Success_Level__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SuccessLevel</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Level__c</field>
            <value>
                <elementReference>SuccessLevel</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Total Applicable Milestones field in the opportunity if it is different</description>
        <name>Update_Total_Applicable_Milestones_field_in_Opportunity</name>
        <label>Update Total Applicable Milestones field in Opportunity</label>
        <locationX>1113</locationX>
        <locationY>870</locationY>
        <connector>
            <targetReference>Changed_Health_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Applicable_Milestones__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CountApplicableCSMMilestones</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Applicable_Milestones__c</field>
            <value>
                <elementReference>CountApplicableCSMMilestones</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>24</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Update_Success_Level</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Count of CSM Milestone records that are defined for the product family and success level of the opportunity</description>
        <name>CountApplicableCSMMilestones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Count the number of CSM opportunities related to the opportunity account</description>
        <name>CountCSMOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CSMMilestonesResultstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSM_Milestone_Result__c</objectType>
    </variables>
    <variables>
        <description>Formulas don&apos;t convert multi-select picklists to text, because that variable was used to achieve that</description>
        <name>CurrentCSMMilestoneProductFamilies</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Loop_through_CSM_Milestones.Product_Families__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CurrentCSMMilestoneResultToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSM_Milestone_Result__c</objectType>
    </variables>
    <variables>
        <description>Formulas don&apos;t convert multi-select picklists to text, because that variable was used to achieve that</description>
        <name>CurrentCSMMilestoneSuccessLevels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Loop_through_CSM_Milestones.Success_Levels__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Total health score for all CSM opportunities related to the opportunity account</description>
        <name>TotalHealthScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
