metadata/sf-prod/force-app/main/default/flows/On_Opportunity_Closed_Checks_if_process_is_followed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>303</locationX>
        <locationY>1103</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Send_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] Opportunity {!Closed_StageName} {!Message}.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>303</locationX>
        <locationY>1223</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Opportunity {!$Record.Name} (Id: {!$Record.Id}) {!Closed_StageName} {!Message}.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>rp-si@trilogy.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opportunity {!Closed_StageName} {!Message}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Has_Approval_Process</name>
        <label>Has Approval Process</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Post_to_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ApprovalProcess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wont_Process_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Closed_Lost_and_was_in_Pending_Stage</name>
        <label>Is Closed Lost and was in Pending Stage?</label>
        <locationX>754</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Post_to_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ClosedLost_and_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Canceled_Before_Renewal_Cycle</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Won_t_Process</name>
        <label>Is Won&apos;t Process?</label>
        <locationX>303</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Last_stage_was_finalizing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Stage</defaultConnectorLabel>
        <rules>
            <name>Won_t_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won&apos;t Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Approval_Process</targetReference>
            </connector>
            <label>Won&apos;t Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_stage_was_finalizing</name>
        <label>Last stage was finalizing?</label>
        <locationX>556</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_Closed_Lost_and_was_in_Pending_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizing</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>For Won&apos;t Process, it must have an approval process.
Other closed stages must be in the Finalizing stage before.
If the process is not followed, a message will be posted to chatter and an email will be sent to admins.
Also, if the stage now is Closed Lost and before was Pending Stage, Canceled Before Renewal Cycle is set to true in the opportunity.</description>
    <formulas>
        <name>Closed_StageName</name>
        <dataType>String</dataType>
        <expression>IF(OR(TEXT({!$Record.StageName})=&quot;Won&apos;t Process&quot;,TEXT({!$Record.StageName})=&quot;Co-Term&quot;), &quot;Closed &quot; + TEXT({!$Record.StageName}), TEXT({!$Record.StageName}))</expression>
    </formulas>
    <formulas>
        <name>Message</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.StageName})=&quot;Won&apos;t Process&quot;, &quot;without approval&quot;, &quot;not from Finalizing stage&quot;)</expression>
    </formulas>
    <interviewLabel>On Opportunity Closed, Checks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Opportunity Closed, Checks if process is followed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Canceled_Before_Renewal_Cycle</name>
        <label>Set Canceled Before Renewal Cycle</label>
        <locationX>622</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <inputAssignments>
            <field>Canceled_Before_Renewal_Cycle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>177</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Won_t_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
