metadata/sf-prod/force-app/main/default/flows/On_Quote_Status_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>We need to disable the QBs because we have a validation rule that doesn&apos;t allow to go back without using the Revert button.</description>
        <name>Disable_Opportunity_QBs</name>
        <label>Disable Opportunity QBs</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>OpportunityQBDisable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Move_Opportunity_to_Quote_Follow_Up2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <description>Enabling QBs back</description>
        <name>Enable_Opportunity_QBs</name>
        <label>Enable Opportunity QBs</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <actionName>OpportunityQBEnable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <description>Enabling QBs back</description>
        <name>Enable_Opportunity_QBs2</name>
        <label>Enable Opportunity QBs</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <actionName>OpportunityQBEnable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Post_Quote_Signed_message</name>
        <label>Post Quote Signed message</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Set_Quote_as_Primary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterQuoteSignedMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Post a message in chatter to ISR notifying him that the opportunity was Auto-Renew and now will be changed to Quote Signed</description>
        <name>Post_Quote_Signed_Message_with_Win_type_change</name>
        <label>Post Quote Signed Message with Win type change</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Set_Quote_as_Primary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterQuoteSignedWhenOppInAutoRenewMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_Quote_Follow_Up</name>
        <label>Post To Chatter Quote Follow-Up</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterQuoteFollowUpMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Branch_according_to_what_happened</name>
        <label>Branch according to what happened</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_watermark</targetReference>
            </connector>
            <label>New quote</label>
        </rules>
        <rules>
            <name>Quote_Accepted1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hide_watermark</targetReference>
            </connector>
            <label>Quote Accepted</label>
        </rules>
        <rules>
            <name>Quote_Status_Changed_for_Open_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_new_status</targetReference>
            </connector>
            <label>Quote Status Changed for Open Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking to add a message to sales rep</description>
        <name>Is_Opp_in_Finalizing_stage_with_Auto_Renew_Win_Type</name>
        <label>Is Opp in Finalizing stage with Auto Renew Win Type?</label>
        <locationX>1502</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Post_Quote_Signed_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Win_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Quote_Signed_Message_with_Win_type_change</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_new_status</name>
        <label>What is the new status?</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_quote_expiration_date</targetReference>
            </connector>
            <label>In Review</label>
        </rules>
        <rules>
            <name>Out_for_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out for Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Finalizing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_Opportunity_to_Quote_Follow_Up</targetReference>
            </connector>
            <label>Out for Signature</label>
        </rules>
        <rules>
            <name>Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Opp_in_Finalizing_stage_with_Auto_Renew_Win_Type</targetReference>
            </connector>
            <label>Signed</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_Opportunity_QBs</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <description>When a new quote is created, the show watermark field is set to true. 
When the Quote is Accepted, the show watermark field is set to false.
On Quote Status changed:
- Quote In Review -&gt; Sets the quote expiration date
- Quote Out for Signature -&gt; Opportunity goes to Quote Follow-Up stage
- Quote Signed -&gt; Opportunity Win Type is set to Quote Signed
- Quote Cancelled -&gt; Opportunity move to Quote Follow-up if it&apos;s in the Finalizing stage and it&apos;s the Primary Quote that is being cancelled

Enable custom setting: Automation Setting Disable All Flow in entry criteria</description>
    <formulas>
        <name>TodayFormatted</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY())) &amp; &quot;/&quot; &amp; TEXT(DAY(TODAY())) &amp; &quot;/&quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>On Quote Status Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Quote Created or Status Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Hide_watermark</name>
        <label>Hide watermark</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SBQQ__WatermarkShown__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Move_Opportunity_to_Quote_Follow_Up</name>
        <label>Move Opportunity to Quote Follow-Up</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Post_To_Chatter_Quote_Follow_Up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>QuoteFollowUpDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Quote Follow-Up</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Move the opportunity to Quote Follow-up only if it&apos;s in the Finalizing Stage, this happens only for the primary quote. For other stages we don&apos;t need to do anything. We need to remove take out from the Finalizing stage in order to cancel Invoice O2C jira ticket and then it will be created again later. Sending only to Quote Follow-up because if we send to Final Quote, the primary quote must be in draft, which will not be the case, because the quote will be canceled. Later when we remove the Final Quote stage, we can verify if there is another out for signature quotes and if not we can go to the Proposal stage. Not going now, because then the sales rep will need to send the opportunity again to the Final quote stage and can&apos;t send other quotes if it&apos;s not in the Final quote stage.</description>
        <name>Move_Opportunity_to_Quote_Follow_Up2</name>
        <label>Move Opportunity to Quote Follow-Up</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Enable_Opportunity_QBs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Enable_Opportunity_QBs2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Quote Follow-Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Type__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>In order to get this quote when creating the NS Subscription and jira invoice ticket</description>
        <name>Set_Quote_as_Primary</name>
        <label>Set Quote as Primary</label>
        <locationX>1502</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Sets_Win_Type_to_Quote_Signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Sets_Win_Type_to_Quote_Signed</name>
        <label>Sets Win Type to Quote Signed</label>
        <locationX>1502</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>QuoteSignedDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Type__c</field>
            <value>
                <stringValue>Quote Signed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Show_watermark</name>
        <label>Show watermark</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SBQQ__WatermarkShown__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Branch_according_to_what_happened</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls subflow that sets the quote expiration date</description>
        <name>Set_quote_expiration_date</name>
        <label>Set quote expiration date</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <flowName>Quote_SetQuoteExpiryDate</flowName>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ChatterProposalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.SBQQ__Opportunity2__r.OwnerId}] Primary Quote is {!$Record.SBQQ__Status__c}, moving the opportunity to Proposal stage.</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterQuoteFollowUpMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.SBQQ__Opportunity2__r.OwnerId}] Primary Quote is out for signature, moving the opportunity to Quote Follow-Up stage.</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterQuoteSignedMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.SBQQ__Opportunity2__r.OwnerId}] Primary Quote is signed, please, set the Signed Quote and Purchase Order fields for automation to move the opportunity to the finalizing stage.</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterQuoteSignedWhenOppInAutoRenewMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.SBQQ__Opportunity2__r.OwnerId}] Primary Quote is signed, please, set the Signed Quote and Purchase Order fields for automation to move the opportunity to the finalizing stage. This quote was set with Win Type Auto-Renew and now the win type will change to Quote Signed.</text>
    </textTemplates>
    <textTemplates>
        <name>ProposalDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!TodayFormatted} SYSTEM: Primary Quote is {!$Record.SBQQ__Status__c}, moving the opportunity to Proposal stage

{!$Record.SBQQ__Opportunity2__r.Description}</text>
    </textTemplates>
    <textTemplates>
        <name>QuoteFollowUpDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!TodayFormatted} SYSTEM: Primary Quote is out for signature, moving the opportunity to Quote Follow-Up stage.

{!$Record.SBQQ__Opportunity2__r.Description}</text>
    </textTemplates>
    <textTemplates>
        <name>QuoteSignedDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!TodayFormatted} SYSTEM: Primary Quote is signed, please, set the Signed Quote and Purchase Order fields for automation to move the opportunity to the finalizing stage.

{!$Record.SBQQ__Opportunity2__r.Description}</text>
    </textTemplates>
</Flow>
