metadata/sf-prod/force-app/main/default/flows/OnCalendlyActionCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Default_Last_Name</name>
        <label>Set Default Last Name</label>
        <locationX>1882</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotProvided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invitee_Last_Name</name>
        <label>Set Invitee Last Name</label>
        <locationX>1747</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Calendly__InviteeLastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invitee_Last_Name_Exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account</name>
        <label>Account?</label>
        <locationX>694</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Find_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Account</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign</name>
        <label>Campaign?</label>
        <locationX>707</locationX>
        <locationY>621</locationY>
        <defaultConnector>
            <targetReference>Find_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Campaign</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case</name>
        <label>Case?</label>
        <locationX>695</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Find_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Case</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact</name>
        <label>Contact?</label>
        <locationX>707</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>Find_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Contact</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract</name>
        <label>Contract?</label>
        <locationX>701</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>Find_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Contract</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Contract</label>
        </rules>
    </decisions>
    <decisions>
        <description>The main goal of this flow is to create an Event ( a type of Activity ).  But we must create that Event within an existing record.

If all previous attempts at finding a record failed ( via SFID, or Invitee Email ): then we need to create a record.

We will always create a Lead when we couldn&apos;t find a record.</description>
        <name>Do_we_have_a_Record</name>
        <label>Do we have a Record?</label>
        <locationX>1740</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Create_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>Create_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CloudFix_Lead_Record_Type_ID</targetReference>
            </connector>
            <label>Create Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>While looking up the records, if we found one, we would have set the OwnerId as the record owner.

In the last step, we attempted to overwrite the OwnerId with the id of the user whose email matches the publisher.

So at this point, we hope to have an owner defined.  If we don&apos;t we&apos;ll have to look up the system admin.</description>
        <name>Event_Owner</name>
        <label>Event Owner?</label>
        <locationX>1323</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Find_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Owner not Present</defaultConnectorLabel>
        <rules>
            <name>Event_Owner_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Record</targetReference>
            </connector>
            <label>Event Owner Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invitee_Last_Name_Exists</name>
        <label>Invitee Last Name Exists?</label>
        <locationX>1927</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Last Name</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_invitee_created</name>
        <label>Invitee created?</label>
        <locationX>76</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invitee_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invitee.created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFID_Provided</targetReference>
            </connector>
            <label>Invitee created</label>
        </rules>
    </decisions>
    <decisions>
        <description>We cannot update a converted lead.  If the lead is converted, we need to try and find the contact it was converted to.</description>
        <name>Is_it_Converted</name>
        <label>Is it Converted?</label>
        <locationX>708</locationX>
        <locationY>966</locationY>
        <defaultConnector>
            <targetReference>Find_Publisher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Active</defaultConnectorLabel>
        <rules>
            <name>Lead_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadConvertedAt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Converted_Contact</targetReference>
            </connector>
            <label>Lead Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead</name>
        <label>Lead?</label>
        <locationX>708</locationX>
        <locationY>838</locationY>
        <defaultConnector>
            <targetReference>Get_Event_Attendee_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Lead</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Converted</targetReference>
            </connector>
            <label>SFID matches Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity</name>
        <label>Opportunity?</label>
        <locationX>696</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Find_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Opportunity</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>If we cannot find the system admin profile, we cannot find the system admin.  And if we&apos;re at this point in the logic, we have no other owner.

So there&apos;s no path forward if the profile is not found.</description>
        <name>Profile_Found</name>
        <label>Profile Found?</label>
        <locationX>1456</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>System_Admin_Profile_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User</targetReference>
            </connector>
            <label>System Admin Profile Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SFID_Provided</name>
        <label>SFID Provided?</label>
        <locationX>302</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Get_Event_Attendee_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SFID</defaultConnectorLabel>
        <rules>
            <name>SFID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__ObjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Account</targetReference>
            </connector>
            <label>SFID</label>
        </rules>
    </decisions>
    <decisions>
        <description>So there&apos;s no path forward if the system admin is not found.</description>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>1459</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>System_Admin_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Record</targetReference>
            </connector>
            <label>System Admin Found</label>
        </rules>
    </decisions>
    <description>LAMBDA-63863 A copy of the CreateEventTemplate from the Calendly package.</description>
    <formulas>
        <name>CustomEventSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Calendly: &quot; + {!$Record.Calendly__EventSubject__c}</expression>
    </formulas>
    <interviewLabel>OnCalendlyActionCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnCalendlyActionCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>2522</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Create_Event_Attendee_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>Calendly__InviteeUuid__c</field>
            <value>
                <elementReference>$Record.Calendly__InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Calendly__EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>$Record.Calendly__Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Calendly__EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Calendly__EventSubject__c} - Calendly - {!$Record.Calendly__InviteeUuid__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>2016</locationX>
        <locationY>443</locationY>
        <assignRecordIdToReference>WhoRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>AWS_Spend__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Calendly__InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Submitted__c</field>
            <value>
                <elementReference>CustomEventSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>CloudFix</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_CloudFix_Lead_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Content__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmContent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmMedium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <elementReference>$Record.Calendly__UtmSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_did_they_hear_about_us__c</field>
            <value>
                <elementReference>$Record.Calendly__CustomResponse2__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>547</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Opportunity</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Campaign</name>
        <label>Find Campaign</label>
        <locationX>559</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Case</name>
        <label>Find Case</label>
        <locationX>550</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Contract</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>555</locationX>
        <locationY>711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Lead</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contract</name>
        <label>Find Contract</label>
        <locationX>553</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Campaign</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This lookup with find the converted contact, or set RecordId to null since the converted lead cannot be updated.</description>
        <name>Find_Converted_Contact</name>
        <label>Find Converted Contact</label>
        <locationX>552</locationX>
        <locationY>1012</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Lead</name>
        <label>Find Lead</label>
        <locationX>553</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Event_Attendee_Template</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadConvertedAt</assignToReference>
            <field>ConvertedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Opportunity</name>
        <label>Find Opportunity</label>
        <locationX>549</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Profile</name>
        <label>Find Profile</label>
        <locationX>1322</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>ProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Publisher</name>
        <label>Find Publisher</label>
        <locationX>1124</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>1324</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfileId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CloudFix_Lead_Record_Type_ID</name>
        <label>Get CloudFix Lead Record Type ID</label>
        <locationX>1749</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Invitee_Last_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CloudFix</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>Calendly__CreateEventTemplate</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <object>Calendly__CalendlyAction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_invitee_created</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>After creating the Event, we now will add Additional Guests and hosts to it.</description>
        <name>Create_Event_Attendee_Template</name>
        <label>Create Event Attendee Template</label>
        <locationX>2117</locationX>
        <locationY>356</locationY>
        <flowName>Calendly__Create_Event_Attendee_Template</flowName>
        <inputAssignments>
            <name>Additional_Guests_Emails</name>
            <value>
                <elementReference>$Record.Calendly__AdditionalGuests__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Additional_Hosts_Emails</name>
            <value>
                <elementReference>$Record.Calendly__AdditionalHosts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Event_ID</name>
            <value>
                <elementReference>Create_Event</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Event_Attendee_Template</name>
        <label>Get Event Attendee Template</label>
        <locationX>641</locationX>
        <locationY>1143</locationY>
        <connector>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <flowName>Calendly__Get_Event_Attendee_Template</flowName>
        <inputAssignments>
            <name>Event_Attendee_Email</name>
            <value>
                <elementReference>$Record.Calendly__InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <name>Attendee_ID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <name>Owner_ID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ConvertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadConvertedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
