metadata/sf-prod/force-app/main/default/flows/OnContactUpdate_UpdateOpportunityStage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_To_Opportunity_List</name>
        <label>Add To Opportunity List</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesToQuery</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughContactRoles.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughContactRoles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Opportunity_To_Update</name>
        <label>Add To Opportunity To Update</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Engagement</name>
        <label>Set Engagement</label>
        <locationX>138</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opportunities.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Engaged</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Opportunity_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Opportunity_Stage</name>
        <label>Check Opportunity Stage</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Everything Else</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Stage_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Opportunity_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Roles</targetReference>
            </connector>
            <label>Opportunity Stage Changed</label>
        </rules>
    </decisions>
    <description>LAMBDA-46200 Update Renewal Engagement opportunities to Engaged for Primary contacts</description>
    <interviewLabel>OnContactUpdate_UpdateOpportunityStage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnContactUpdate_UpdateOpportunityStage</label>
    <loops>
        <description>Loop the opportunities and set the stage</description>
        <name>Loop_Through_Opportunities</name>
        <label>Loop Through Opportunities</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_opportunity_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Engagement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Related_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContactRoles</name>
        <label>LoopThroughContactRoles</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_To_Opportunity_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_opportunity_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query contact roles where Opportunity Stage is Renewal Engagement</description>
        <name>Get_Contact_Roles</name>
        <label>Get Contact Roles</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughContactRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity_records</name>
        <label>Get opportunity records</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OpportunitiesToQuery</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal Engagement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Related_Opportunities</name>
        <label>Update All Related Opportunities</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <inputReference>OpportunitiesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Opportunity_Stage</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>List of all Opportunities to Query</description>
        <name>OpportunitiesToQuery</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunitiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
