metadata/sf-prod/force-app/main/default/flows/OnContractCreated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>Save Netsuite Id in the contract and the Contract Id in the Opportunity.</description>
    <interviewLabel>OnContractCreated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnContractCreated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Set Contract Id on the corresponding Opportunity Record.</description>
        <name>Set_Contract_On_Opportunity</name>
        <label>Set Contract On Opportunity</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the netsuite id to be the same as the opportunity netsuite id. This value will only be different if a replacement subscription is created, then the contract will have the replacement subscription and the opportunity will have the original renewal.</description>
        <name>Set_netsuite_id</name>
        <label>Set netsuite id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Set_Contract_On_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>NetSuite_ID__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__r.NetSuite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_netsuite_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
