metadata/sf-prod/force-app/main/default/flows/OnCreateSetupLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>LeadCountryValue</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!iVarR_Lead.Country}),&apos;us&apos;,{!iVarR_Lead.Country})</expression>
    </formulas>
    <interviewLabel>SetupLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnCreateSetupLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProdConfig</name>
        <label>GetProdConfig</label>
        <locationX>455</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetProductConfigOnLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iVarR_Lead.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetProductConfigOnLead</name>
        <label>SetProductConfigOnLead</label>
        <locationX>618</locationX>
        <locationY>58</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iVarR_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>LeadCountryValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Configuration__c</field>
            <value>
                <elementReference>GetProdConfig.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetProdConfig</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>iVarR_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>VarR_ProductConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Configuration__c</objectType>
    </variables>
    <variables>
        <name>VarT_ProductConfigId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
