metadata/sf-prod/force-app/main/default/flows/OnCreateNewQCScorecard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_QC_Rule_Enforced_On_to_Text</name>
        <label>Convert QC Rule - Enforced On to Text</label>
        <locationX>1121</locationX>
        <locationY>189</locationY>
        <actionName>MultiPicklistToText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Rule_Relevant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>picklistValues</name>
            <value>
                <elementReference>Loop_Through_All_Rules.Enforced_On__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Is_Rule_Relevant</name>
        <label>Is Rule Relevant</label>
        <locationX>1113</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Relevant</defaultConnectorLabel>
        <rules>
            <name>Yes_Relevant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_QC_Rule_Relevant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_QC_Rule_Result_Object</targetReference>
            </connector>
            <label>Yes Relevant</label>
        </rules>
    </decisions>
    <formulas>
        <name>Is_QC_Rule_Relevant</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Convert_QC_Rule_Enforced_On_to_Text}, TEXT({!Get_Task.Work_Unit_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>QC_Rule_Result_Name</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Loop_Through_All_Rules.Name} &amp; &quot; - &quot; &amp; {!$Record.Owner:User.FirstName} &amp; &quot; &quot; &amp; {!$Record.Owner:User.LastName} &amp; &quot; - &quot; &amp; {!$Record.QC_Summary__r.Task_Subject__c}, 80))</expression>
    </formulas>
    <interviewLabel>OnCreateNewQCScorecard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnCreateNewQCScorecard</label>
    <loops>
        <name>Loop_Through_All_Rules</name>
        <label>Loop Through All Rules</label>
        <locationX>725</locationX>
        <locationY>102</locationY>
        <collectionReference>Get_QC_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Convert_QC_Rule_Enforced_On_to_Text</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_QC_Rule_Result_Object</name>
        <label>Create QC Rule Result Object</label>
        <locationX>596</locationX>
        <locationY>610</locationY>
        <connector>
            <targetReference>Loop_Through_All_Rules</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QC_Rule_Result_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Rule__c</field>
            <value>
                <elementReference>Loop_Through_All_Rules.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Scorecard__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>QC_Rule_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_QC_Rules</name>
        <label>Get QC Rules</label>
        <locationX>416</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enforced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QC_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>214</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QC_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QC_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QC_Summary__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <object>QC_Scorecard__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_QC_Rule_Enforced_On_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
