metadata/sf-prod/force-app/main/default/flows/OnLeadCreateOrUpdate_AutoConvertLeadsCPQ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Convert_Lead</name>
        <label>Auto Convert Lead</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>AutoConvertLeadsCPQ</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Lead_Engaged_or_Self_Purchase</name>
        <label>Is Lead Engaged or Self Purchase</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead_Engaged_or_Self_Purchase_Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Convert_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>LAMBDA-65488 Migrated from Process Builder
LAMBDA-68424 Add Product Configuration check</description>
    <formulas>
        <name>DefaultCountry</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Country}),&apos;US&apos;,{!$Record.Country})</expression>
    </formulas>
    <interviewLabel>OnLeadCreateOrUpdate_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnLeadCreateOrUpdate_ AutoConvertLeadsCPQ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Lead_Engaged_or_Self_Purchase</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
