metadata/sf-prod/force-app/main/default/flows/OnLeadCreate_SetDefault.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Apollo_created_CloudFix_lead_record_type</name>
        <label>Set Apollo created CloudFix lead record type</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CloudFix_record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default</name>
        <label>Set Default</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_created_from_Apollo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Configuration</name>
        <label>Set Product Configuration</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Configuration.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_SQL_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_MQL</name>
        <label>Set Status MQL</label>
        <locationX>50</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Status_Trial</name>
        <label>Set Status Trial</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Trial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_MQL_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the lead source is Apollo and product family is CloudFix.</description>
        <name>Is_created_from_Apollo</name>
        <label>Is created from Apollo and CloudFix Lead?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Configuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_created_from_Apollo_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apollo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CloudFix</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Lead__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CloudFix</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CloudFix_record_type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MQL_Lead</name>
        <label>Is MQL Lead</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_MQL_Lead_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_MQL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SQL_Lead</name>
        <label>Is SQL Lead</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Is_MQL_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SQL_Lead_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Trial</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>LAMBDA-65488 Migrated from Process Builder, setting default values when creating leads.
LAMBDA-68163 Set CloudFix lead record type id if created from Apollo</description>
    <formulas>
        <name>DefaultCountry</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Country}),&apos;US&apos;,{!$Record.Country})</expression>
    </formulas>
    <interviewLabel>OnLeadCreate_SetDefault {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnLeadCreate_SetDefault</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CloudFix_record_type</name>
        <label>Get CloudFix record type</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Apollo_created_CloudFix_lead_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CloudFix</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Configuration</name>
        <label>Get Product Configuration</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Product_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Default</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
