metadata/sf-prod/force-app/main/default/flows/OnOpportunityCreateOrUpdate_UpdateName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Update Opportunity only if the name is different from what expected</description>
        <name>Different_Name</name>
        <label>Different Name?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Updating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OpportunityName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name</targetReference>
            </connector>
            <label>Needs Updating</label>
        </rules>
    </decisions>
    <decisions>
        <name>Key_Fields_Changed</name>
        <label>Key Fields Changed?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Renewal_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner</targetReference>
            </connector>
            <label>Changes</label>
        </rules>
    </decisions>
    <description>LAMBDA-63138 enable Disable All Flows custom setting
LAMBDA-68809 for Win Back type, update name</description>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISBLANK({!Get_Partner.AccountTo.Name})),
    {!Get_Partner.AccountTo.Name} + &apos; - &apos;,
     &apos;&apos;
) +
    If(OR(TEXT({!$Record.Type}) = &apos;Renewal&apos;, TEXT({!$Record.Type}) = &apos;Win Back&apos;),
        {!$Record.Account.Name} + &apos; - &apos; + TEXT({!$Record.Product__c}) + &apos; - &apos; + TEXT({!$Record.Type}) + &apos; - &apos; + TEXT(MONTH({!$Record.Renewal_Date__c})) + &apos;_&apos; + TEXT(YEAR({!$Record.Renewal_Date__c})),
        {!$Record.Account.Name} + &apos; - &apos; + TEXT({!$Record.Product__c}) + &apos; - &apos; + TEXT({!$Record.Type})
    )</expression>
    </formulas>
    <interviewLabel>OnOppo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityCreateOrUpdate_UpdateName</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partner</name>
        <label>Get Primary Partner</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Different_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityPartner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Name</name>
        <label>Update Name</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Key_Fields_Changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
