metadata/sf-prod/force-app/main/default/flows/OnOpportunityCreateOrUpdate_SendFinalQuoteToApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Migrated from PB: OnOpportunityCreateOrUpdate

LAMBDA-65238 - Deprecate the Process Builder

Fix Calculate Approver</description>
    <formulas>
        <name>QuoteApprover</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.Product_Configuration__c})),
IF(
ISPICKVAL({!$Record.Type},&apos;Renewal&apos;),
{!$Record.Product_Configuration__r.Renewal_Manager__c},
{!$Record.Product_Configuration__r.New_Business_Manager__c}
),
{!$Record.OwnerId}
)</expression>
    </formulas>
    <interviewLabel>OnOpportunityCreateOrUpdate_TriggerClosedFullfilmentEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityCreateOrUpdate_SendFinalQuoteToApproval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Primary_Quote</name>
        <label>Get Primary Quote</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Quote_to_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Primary_Quote</name>
        <label>Update Primary Quote</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Primary_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Approver__c</field>
            <value>
                <elementReference>QuoteApprover</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Primary_Quote</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Quote_to_Approval</name>
        <label>Send Quote to Approval</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <flowName>Subflow_Send_Quote_To_Approval</flowName>
        <inputAssignments>
            <name>Quote</name>
            <value>
                <elementReference>Get_Primary_Quote</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
