metadata/sf-prod/force-app/main/default/flows/OnOpportunityCreateOrUpdate_CloseWithNegativeSentimentCreateOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>OppClosedWon</name>
        <label>OppClosedWon</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClosedWon_NegativeSentiment</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.High_Value_Opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Business_Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Happy with value delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Moving_Off_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Started moving off product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Moving_Off_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Moving_Off_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProductConfigurations</targetReference>
            </connector>
            <label>ClosedWon_NegativeSentiment</label>
        </rules>
    </decisions>
    <description>When an Opportunity is Closed Won with Negative Sentiment, create a Proactive Win-Back Case to initiate the Proactive Win-Back Process</description>
    <formulas>
        <name>newCloseDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.Opportunity_Term__c}), {!$Record.CloseDate} - 180, ADDMONTHS({!$Record.CloseDate},{!$Record.Opportunity_Term__c}) - 180)</expression>
    </formulas>
    <formulas>
        <name>oppName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Name}, 98)  + &quot; - Proactive Win-Back&quot;</expression>
    </formulas>
    <formulas>
        <name>TrimmedCaseSubject</name>
        <dataType>String</dataType>
        <expression>LEFT({!Subject},250)</expression>
    </formulas>
    <interviewLabel>OnOpportunityCreateOrUpdate_CloseWithNegativeSentimentCreateOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityCreateOrUpdate_CloseWithNegativeSentimentCreateOpportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Proactive_Win_Back_Opportunity</name>
        <label>Proactive Win-Back Opportunity</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>newCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>oppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getProductConfigurations.BU_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Renewal_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Configuration__c</field>
            <value>
                <elementReference>$Record.Product_Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Proactive_Win_Back_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getProductConfigurations</name>
        <label>getProductConfigurations</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proactive_Win_Back_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Configuration__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Proactive_Win_Back_Record_Type</name>
        <label>Proactive Win-Back Record Type</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proactive_Win_Back_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proactive_Win_Back</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OppClosedWon</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This case has been initiated under the Proactive Winback process due to the customer’s concerns identified during the recent contract renewal. This case seeks to transform customer sentiment positively, reinforcing their decision to continue with our product/service.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Please follow the steps outlined in the playbook to work through the case - &lt;a href=&quot;https://docs.google.com/document/d/1cI0N_QxRZm2hoAXmDyvcUZrF8aWl7LTsetss6b5AWTk/edit?usp=sharingConnect&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://docs.google.com/document/d/1cI0N_QxRZm2hoAXmDyvcUZrF8aWl7LTsetss6b5AWTk/edit?usp=sharing&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;Log all developments in &apos;Internal Comments&apos; with the format: &amp;lt;Date&amp;gt; &amp;lt;Initials&amp;gt;: &amp;lt;Activities and outcomes&amp;gt;.&lt;/li&gt;&lt;li&gt;Before closing the case:&lt;ul&gt;&lt;li&gt;Add a proof of work URL showing resolution outcome/ attempts as relevant.&lt;/li&gt;&lt;li&gt;Update &apos;Next Renewal Opportunity&apos; with the upcoming renewal opportunity corresponding to the current contract.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CaseSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 247, 214); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Proactive Winback -{!$Record.Name}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>description</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This opportunity has been initiated under the Proactive Win-Back process due to the customer’s concerns identified during the recent contract renewal. This opportunity seeks to transform customer sentiment positively, reinforcing their decision to continue with our product/service.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please follow the steps outlined in the playbook to work through the opportunity - https://docs.google.com/document/d/1cI0N_QxRZm2hoAXmDyvcUZrF8aWl7LTsetss6b5AWTk/edit?usp=sharing.&lt;/p&gt;&lt;p&gt;Log all developments in &apos;Internal Comments&apos; with the format: &amp;lt;Date&amp;gt; &amp;lt;Initials&amp;gt;: &amp;lt;Activities and outcomes&amp;gt;.&lt;/p&gt;&lt;p&gt;Before closing the opportunity:&lt;/p&gt;&lt;p&gt;Add a proof of work URL showing resolution outcome/ attempts as relevant.&lt;/p&gt;&lt;p&gt;Update &apos;Next Renewal Opportunity&apos; with the upcoming renewal opportunity corresponding to the current contract.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> Proactive Winback - {!$Record.Name}</stringValue>
        </value>
    </variables>
</Flow>
