metadata/sf-prod/force-app/main/default/flows/OnOpportunityCreateOrUpdate_UpdatePrimaryContactCurrentFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Primary_Contact_Set</name>
        <label>Primary Contact Set?</label>
        <locationX>593</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrimaryContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCurrentRenewalDateOnPrimaryContact</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <description>Update Product family, renewal date and current opportunity stage on primary contact in order to sync data with outreach</description>
    <interviewLabel>OnOpportunityCreateOrUpdate_UpdatePrimaryContactCurrentFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityCreateOrUpdate_UpdatePrimaryContactCurrentFields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPrimaryContact</name>
        <label>GetPrimaryContact</label>
        <locationX>430</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iVarR_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCurrentRenewalDateOnPrimaryContact</name>
        <label>UpdateCurrentRenewalDateOnPrimaryContact</label>
        <locationX>850</locationX>
        <locationY>68</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPrimaryContact.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>iVarR_Opportunity.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_ARR__c</field>
            <value>
                <elementReference>iVarR_Opportunity.ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_List_Price__c</field>
            <value>
                <elementReference>iVarR_Opportunity.List_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_NS_Id__c</field>
            <value>
                <elementReference>iVarR_Opportunity.NetSuite_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Notice_Deadline__c</field>
            <value>
                <elementReference>iVarR_Opportunity.Customer_Termination_Deadline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Opportunity_Stage__c</field>
            <value>
                <elementReference>iVarR_Opportunity.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Product_Family__c</field>
            <value>
                <elementReference>iVarR_Opportunity.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Renewal_Date__c</field>
            <value>
                <elementReference>iVarR_Opportunity.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Success_Level__c</field>
            <value>
                <elementReference>iVarR_Opportunity.Success_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Term__c</field>
            <value>
                <elementReference>iVarR_Opportunity.Opportunity_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Success_Level__c</field>
            <value>
                <elementReference>iVarR_Opportunity.Current_Success_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Term__c</field>
            <value>
                <elementReference>iVarR_Opportunity.Current_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Notice_Date__c</field>
            <value>
                <elementReference>iVarR_Opportunity.Renewal_Notice_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_End_Date__c</field>
            <value>
                <elementReference>iVarR_Opportunity.Term_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetPrimaryContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>iVarR_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
