metadata/sf-prod/force-app/main/default/flows/OnOpportunityCreate_NotifyNewCloudFix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>LAMBDA-65875 Send email alert to the New Business Notification Party when new CloudFix Opportunity created</description>
    <formulas>
        <name>base_url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;.&quot;,{!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[New CloudFix Opportunity] &quot; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>RecipientEmails</name>
        <dataType>String</dataType>
        <expression>{!Get_Product_Configuration.New_Business_Notification_Party__c}</expression>
    </formulas>
    <interviewLabel>OnOpportunityCreate_NotifyNewCloudFix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityCreate_NotifyNewCloudFix</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Owner</name>
        <label>Get Opportunity Owner</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Configuration</name>
        <label>Get Product Configuration</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Owner</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,

You are being notified that a new CloudFix Opportunity, {!$Record.Name} has been created.

Here is a link to the opportunity: {!base_url}lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view

Closed Date: {!$Record.CloseDate}
Account Executive: {!Get_Opportunity_Owner.Name}
Company Name: {!$Record.Account.Name}
Website: {!$Record.Account.Website}
Country: {!$Record.Account.BillingCountry}
Industry: {!$Record.Account.Industry}


Thank you,
Admin</text>
    </textTemplates>
</Flow>
