metadata/sf-prod/force-app/main/default/flows/OnOpportunityUpdate_SetARQuoteFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assign the AR quote values from AR quote lines to opportunity</description>
        <name>Assign_AR_Quote_Values</name>
        <label>Assign AR Quote Values</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.AR_Quote_Success_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bundle_Line_Item.SBQQ__Product__r.Success_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AR_Quote_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bundle_Line_Item.Subscription_Term__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>LAMBDA-63807 Set the AR Quote fields on opportunity</description>
    <interviewLabel>OnOpportunityUpdate_SetARQuoteFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityUpdate_SetARQuoteFields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the bundle line item and determine success level and subscription term</description>
        <name>Get_Bundle_Line_Item</name>
        <label>Get Bundle Line Item</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AR_Quote_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AR_Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__NetTotal__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__NetTotal__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subscription_Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>Subscription_Term__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bundle_Line_Item</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
