metadata/sf-prod/force-app/main/default/flows/OnOpportunityWon_CreatePlatinumDeliveryStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Product_Ids_To_List</name>
        <label>Add Product Ids To List</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ProductIdsToQuery</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddItemToTheList</name>
        <label>AddItemToTheList</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>PlatinumServiceDeliveryItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempPlatinumServiceDeliveryObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Offer_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductIdListSize</name>
        <label>AssignProductIdListSize</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>ProductIdCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opportunity_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Valid_Platinum_Products_and_Is_Active_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Platinum_Service_Delivery_Record</name>
        <label>Initialize Platinum Service Delivery Record</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>tempPlatinumServiceDeliveryObject.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlatinumServiceDeliveryObject.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlatinumServiceDeliveryObject.Platinum_Offer_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Offer_Items.Platinum_Offer_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlatinumServiceDeliveryObject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Offer_Items.Platinum_Offer_Item__r.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlatinumServiceDeliveryObject.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Offer_Items.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempPlatinumServiceDeliveryObject.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Delivered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddItemToTheList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Valid_Platinum_Products_and_Is_Active_Opportunity</name>
        <label>Has Valid Platinum Products and Is Active Opportunity</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>No Platinum</defaultConnectorLabel>
        <rules>
            <name>Has_Platinum_and_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductIdCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsActiveContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPlatinumOfferItem</targetReference>
            </connector>
            <label>Has Platinum and Is Active</label>
        </rules>
    </decisions>
    <description>LAMBDA-63138 enable Disable All Flows custom setting
LAMBDA-60084 Create Platinum Delivery status records for Opportunities which have Platinum records and have platinum offer items
LAMBDA-68917 Do not create Platinum record if Co-Term or Price Reset/Auto-Renew</description>
    <formulas>
        <name>IsActiveContract</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.CloseDate} &lt;= Today(), Today()&lt; (ADDMONTHS({!$Record.CloseDate},{!$Record.Opportunity_Term__c})) ||
	{!$Record.Renewal_Date__c} &lt;= Today(), Today()&lt; (ADDMONTHS({!$Record.Renewal_Date__c},{!$Record.Opportunity_Term__c}))
)</expression>
    </formulas>
    <interviewLabel>OnOpportunityWon_CreatePlatinumDeliveryStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityWon_CreatePlatinumDeliveryStatus</label>
    <loops>
        <name>Loop_Through_Offer_Items</name>
        <label>Loop Through Offer Items</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>GetPlatinumOfferItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialize_Platinum_Service_Delivery_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Platinum_Service_Delivery_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opportunity_Products</name>
        <label>Loop Through Opportunity Products</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_Ids_To_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignProductIdListSize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Platinum_Service_Delivery_Records</name>
        <label>Insert Platinum Service Delivery Records</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputReference>PlatinumServiceDeliveryItemsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TotalPrice</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Success_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platinum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPlatinumOfferItem</name>
        <label>GetPlatinumOfferItem</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Offer_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIdsToQuery</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Item_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Platinum_Offer_Item_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PlatinumServiceDeliveryItemsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Platinum_Service_Delivery__c</objectType>
    </variables>
    <variables>
        <name>ProductIdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProductIdsToQuery</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempPlatinumServiceDeliveryObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Platinum_Service_Delivery__c</objectType>
    </variables>
</Flow>
