metadata/sf-prod/force-app/main/default/flows/OnOpportunityUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign the total rows returned to the variables to compare if we should proceed</description>
        <name>Assign_totals</name>
        <label>Assign totals</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>totalProductLineItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Product_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalPrimaryQuoteLineItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Primary_Quote_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_number_of_product_lines_and_quote_lines_the_same</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigns_Co_Term_Related_Opportunities_Count</name>
        <label>Assigns Co-Term Related Opportunities Count</label>
        <locationX>50</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>coTermRelatedOpportunitiesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_related_co_term_opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Default_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set the variable MaxSubscriptionTerm to the value of the current opportunity item subscription term</description>
        <name>set_MaxSubscriptionTerm</name>
        <label>set MaxSubscriptionTerm</label>
        <locationX>314</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>maxSubscriptionTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Product_Line_Items.Subscription_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Product_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set the variable MaxSubscriptionTerm to the value of the current opportunity item subscription term</description>
        <name>set_MaxSubscriptionTerm_mainBundle</name>
        <label>set MaxSubscriptionTerm</label>
        <locationX>517</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>maxSubscriptionTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Product_Line_Items.Subscription_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckProductChargeType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Product_Bundle_Count</name>
        <label>Sum Product Bundle Count</label>
        <locationX>517</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>productBundleCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_MaxSubscriptionTerm_mainBundle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SumMasterQuantity_0</name>
        <label>SumMasterQuantity</label>
        <locationX>446</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>masterQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Product_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_current_item_subscription_term_greater_than_opportunity_term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sum MRR of each item</description>
        <name>SumMRR</name>
        <label>SumMRR</label>
        <locationX>369</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>mrr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productMrr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckProductEdition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the number of product lines and quote lines are the same to continue. If they are not the same it’s because CPQ is in the middle of the update. Also, if there is no primary quote, we can always proceed, because we have opportunities imported that don&apos;t have quotes, and if it&apos;s in the middle of CPQ update and CPQ will clean the lines, then later this flow will be triggered again.</description>
        <name>Are_number_of_product_lines_and_quote_lines_the_same</name>
        <label>Are number of product lines and quote lines the same?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>totalProductLineItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>totalPrimaryQuoteLineItems</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Product_Line_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if the opportunity line item Subscription_Term__c greater than the maxSubscriptionTerm</description>
        <name>Check_current_item_subscription_term_greater_than_opportunity_term</name>
        <label>Check current item subscription term greater than opportunity term</label>
        <locationX>446</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Product_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Product_Line_Items.Subscription_Term__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>maxSubscriptionTerm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_MaxSubscriptionTerm</targetReference>
            </connector>
            <label>Greater Than</label>
        </rules>
    </decisions>
    <decisions>
        <description>If doesn&apos;t have product option, it means is the main bundle, because is not generated out of a option.</description>
        <name>Check_if_is_main_bundle</name>
        <label>Check if is main bundle</label>
        <locationX>649</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>CheckProductChargeType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Main Bundle</defaultConnectorLabel>
        <rules>
            <name>MainBundle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Product_Line_Items.SBQQ__QuoteLine__r.SBQQ__ProductOption__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Product_Line_Items.SBQQ__QuoteLine__r.SBQQ__Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sum_Product_Bundle_Count</targetReference>
            </connector>
            <label>Main Bundle</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLineItemPriceIsnotZero</name>
        <label>CheckLineItemPriceIsnotZero</label>
        <locationX>600</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Product_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LineItemPriceIsGreaterThanZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Product_Line_Items.TotalPrice</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SumMasterQuantity_0</targetReference>
            </connector>
            <label>LineItemPriceIsGreaterThanZero</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductChargeType</name>
        <label>CheckProductChargeType</label>
        <locationX>649</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Product_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Product_Line_Items.Product2.SBQQ__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SumMRR</targetReference>
            </connector>
            <label>Recurring</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Product Edition</description>
        <name>CheckProductEdition</name>
        <label>CheckProductEdition</label>
        <locationX>369</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>CheckLineItemPriceIsnotZero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_On_or_Product_Option</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Product_Line_Items.Product2.Product_Edition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-On</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Product_Line_Items.SBQQ__QuoteLine__r.SBQQ__ProductOption__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Product_Line_Items</targetReference>
            </connector>
            <label>Add-On or Product Option</label>
        </rules>
    </decisions>
    <description>Calculates and updates MRR, Opportunity term, Master Products Quantity, Product Bundle Count and Co Term Related Opportunities Count (if any are different from current) for an opportunity based on the opportunity products.

LAMBDA-63138 enable Disable All Flows custom setting</description>
    <formulas>
        <description>MRR for a product</description>
        <name>productMrr</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Through_Product_Line_Items.TotalPrice} / {!Loop_Through_Product_Line_Items.Subscription_Term__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>OnOpportunityUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityUpdate</label>
    <loops>
        <name>Loop_Through_Product_Line_Items</name>
        <label>Loop Through Product Line Items</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>Product_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_is_main_bundle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_related_co_term_opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_co_term_opportunities</name>
        <label>Get related co-term opportunities</label>
        <locationX>50</locationX>
        <locationY>2555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigns_Co_Term_Related_Opportunities_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Co_Term_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get primary quote line items to compare the quantity with product line items. If they don&apos;t match, it&apos;s because is in the middle of  CPQ update and we don&apos;t want it to run</description>
        <name>Primary_Quote_Line_Items</name>
        <label>Primary Quote Line Items</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_totals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Product_Line_Items</name>
        <label>Product Line Items</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Default_Values</name>
        <label>Update Opportunity Default Values</label>
        <locationX>50</locationX>
        <locationY>2771</locationY>
        <filterLogic>1 AND 7 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MRR__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>mrr</elementReference>
            </value>
        </filters>
        <filters>
            <field>Master_Products_Quantity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>masterQuantity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Term__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>maxSubscriptionTerm</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Bundles_Count__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>productBundleCount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Co_Term_Related_Opportunities_Count__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>coTermRelatedOpportunitiesCount</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasOpportunityLineItem</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Co_Term_Related_Opportunities_Count__c</field>
            <value>
                <elementReference>coTermRelatedOpportunitiesCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRR__c</field>
            <value>
                <elementReference>mrr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Products_Quantity__c</field>
            <value>
                <elementReference>masterQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Term__c</field>
            <value>
                <elementReference>maxSubscriptionTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bundles_Count__c</field>
            <value>
                <elementReference>productBundleCount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Primary Quote flag in the quote if needed</description>
        <name>Update_Primary_Quote</name>
        <label>Update Primary Quote</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Product_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Primary_Quote</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coTermRelatedOpportunitiesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>sum of OpportunityLineItems.Quantity where Product.Charge Type = Recurring and Product.Edition != Add-On</description>
        <name>masterQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>maximum subscription term found for opportunity line items that have charge type = Recurring and edition != Add On and price &gt; 0</description>
        <name>maxSubscriptionTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Total MRR for all products</description>
        <name>mrr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>productBundleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>productOptionsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Number of Quote Line Items for the Primary Quote</description>
        <name>totalPrimaryQuoteLineItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Number of product line items in the opportunity</description>
        <name>totalProductLineItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
