metadata/sf-prod/force-app/main/default/flows/OnOpportunityContactRoleCreateOrUpdate_ValidatePrimaryContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Invalid_Flag</name>
        <label>Set Invalid Flag</label>
        <locationX>484</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Invalid_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsContactInvalid</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_valid_To_True</name>
        <label>Set valid To True</label>
        <locationX>572</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>IsContactValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Partners</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Opportunity_Account_Matches</name>
        <label>Check If Opportunity Account Matches</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Fetch_Partners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check Partner Accounts</defaultConnectorLabel>
        <rules>
            <name>Account_Opportunity_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <label>Account Opportunity Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Partner_Matches</name>
        <label>Check If Partner Matches</label>
        <locationX>704</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Check_the_Partners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_the_Partners.AccountToId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_valid_To_True</targetReference>
            </connector>
            <label>Account Matches</label>
        </rules>
    </decisions>
    <description>LAMBDA-52272 Flow to Add a validation to check if the primary contact on the quote belongs to the same Account on the opportunity</description>
    <formulas>
        <name>IsContactInvalid</name>
        <dataType>Boolean</dataType>
        <expression>!{!IsContactValid}</expression>
    </formulas>
    <interviewLabel>OnOpportunityContactRoleCreateOrUpdate_ValidatePrimaryContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityContactRoleCreateOrUpdate_ValidatePrimaryContact</label>
    <loops>
        <name>Check_the_Partners</name>
        <label>Check the Partners</label>
        <locationX>484</locationX>
        <locationY>551</locationY>
        <collectionReference>Fetch_Partners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Partner_Matches</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Invalid_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Partners</name>
        <label>Fetch Partners</label>
        <locationX>484</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Partners</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VAR/Reseller</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Opportunity_Account_Matches</targetReference>
        </connector>
        <object>OpportunityContactRole</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IsContactValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
