metadata/sf-prod/force-app/main/default/flows/OnOpportunityUpdate_UpdateProductNames.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_a_blank_space</name>
        <label>Add a blank space</label>
        <locationX>264</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>ProductNameString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Product_Name_list</name>
        <label>Add to Product Name list</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>ProductNameString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_products.Product2.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_a_blank_space</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Product_is_a_bundle</name>
        <label>Check If Product is a bundle</label>
        <locationX>396</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Is_bundle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_All_products.Product2.SBQQ__Component__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Product_Name_list</targetReference>
            </connector>
            <label>Product Is bundle</label>
        </rules>
    </decisions>
    <description>LAMBDA-63138 enable Disable All Flows custom setting
LAMBDA-61488 flow to capture all product names to reflect in opportunity templates</description>
    <formulas>
        <name>FinalProductString</name>
        <dataType>String</dataType>
        <expression>LEFT({!ProductNameString},255)</expression>
    </formulas>
    <interviewLabel>OnOpportunityUpdate_UpdateProductNames {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityUpdate_UpdateProductNames</label>
    <loops>
        <name>Loop_Through_All_products</name>
        <label>Loop Through All products</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_All_Opportunity_Bundles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Product_is_a_bundle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opportunity_Bundles</name>
        <label>Get All Opportunity Bundles</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TotalPrice</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Name</name>
        <label>Update Product Name</label>
        <locationX>176</locationX>
        <locationY>995</locationY>
        <inputAssignments>
            <field>Product_Names__c</field>
            <value>
                <elementReference>FinalProductString</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Opportunity_Bundles</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductNameString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Products</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
