metadata/sf-prod/force-app/main/default/flows/OnOpportunityWon_DeletePlatinumDeliveryIfNonPlatinum.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>LAMBDA-68917 delete non-delivered platinum delivery records from non-platinum opportunities, e.g the opp was closed won as Platinum then re-opened and closed won as non-platinum.</description>
    <interviewLabel>OnOpportunityWon_DeletePlatinumDeliveryIfNonPlatinum {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnOpportunityWon_DeletePlatinumDeliveryIfNonPlatinum</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Non_Delivered_Platinum_Services</name>
        <label>Delete Non-Delivered Platinum Services</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>Non_Delivered_Platinum_Services</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Non_Delivered_Platinum_Services</name>
        <label>Non-Delivered Platinum Services</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Non_Delivered_Platinum_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Delivery_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Platinum_Service_Delivery__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Non_Delivered_Platinum_Services</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
