metadata/sf-prod/force-app/main/default/flows/OnQuoteCreateOrUpdateSetupQuoteParameters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Assigns true to variable Has Maintenance</description>
        <name>Assign_true_to_variable_has_maintenance</name>
        <label>Assign true to variable has maintenance</label>
        <locationX>1196</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>HasMaintenance</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_a_SaaS_product_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_Line_Items_Footer_Text</name>
        <label>Has Line Items Footer Text</label>
        <locationX>416</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_Line_Items_Footer_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HasLineItemsFooterText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetSalesRep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_OnPerm_count</name>
        <label>Increment OnPerm count</label>
        <locationX>1573</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>OnPremCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_all_quote_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_SaaS_count</name>
        <label>Increment SaaS count</label>
        <locationX>747</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>SaaSCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_all_quote_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Austria_and_Germany_Provider</name>
        <label>Set Austria and Germany Provider</label>
        <locationX>370</locationX>
        <locationY>2432</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_DE_and_AT__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_DE_and_AT__r.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_DE_and_AT__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_DE_and_AT__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_DE_and_AT__r.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_DE_and_AT__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Logo_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_DE_and_AT__r.LogoUrl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_DE_and_AT__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Contracting Method should be &apos;Single Contract&apos; to get one contract from a Quote</description>
        <name>Set_Contracting_Method</name>
        <label>Set Contracting Method</label>
        <locationX>398</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ContractingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Single Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Uptick_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the default subsidiary as the service provider on the quote</description>
        <name>Set_Default_Subsidiary_Service_Provider</name>
        <label>Set Default Subsidiary Service Provider</label>
        <locationX>381</locationX>
        <locationY>1912</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Default_Subsidiary.Subsidiary__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Default_Subsidiary.Subsidiary__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Default_Subsidiary.Subsidiary__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Default_Subsidiary.Subsidiary__r.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Default_Subsidiary.Subsidiary__r.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Default_Subsidiary.Subsidiary__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Logo_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Default_Subsidiary.Subsidiary__r.LogoUrl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Default_Subsidiary.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Japan_Provider</name>
        <label>Set Japan Provider</label>
        <locationX>722</locationX>
        <locationY>2430</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contacting_Entity_JP__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contacting_Entity_JP__r.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contacting_Entity_JP__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contacting_Entity_JP__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contacting_Entity_JP__r.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Logo_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contacting_Entity_JP__r.LogoUrl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contacting_Entity_JP__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contacting_Entity_JP__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Non_US_Service_Provider</name>
        <label>Set non-US Service Provider</label>
        <locationX>843</locationX>
        <locationY>2085</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_Other__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_Other__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_Other__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_Other__r.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_Other__r.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_Other__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Logo_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_Other__r.LogoUrl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_Other__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Product_Types_on_Quote</name>
        <label>Set Product Types on Quote</label>
        <locationX>562</locationX>
        <locationY>1095</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_OnPrem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HasOnPrem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Has_SaaS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HasSaaS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Has_Maintenance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HasMaintenance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Renewal_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Quote Type to Renewal</description>
        <name>Set_Quote_Renewal</name>
        <label>Set Quote = Renewal</label>
        <locationX>727</locationX>
        <locationY>1266</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TemplateId_on_Quote</name>
        <label>Set TemplateId on Quote</label>
        <locationX>1462</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__QuoteTemplateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Uptick_Amount</name>
        <label>Set Uptick Amount</label>
        <locationX>158</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>$Record.Uptick_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultUptickAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Line_Items_Footer_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Us_Service_Provider</name>
        <label>Set US Service Provider</label>
        <locationX>266</locationX>
        <locationY>2080</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_US_and_AE__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_US_and_AE__r.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_US_and_AE__r.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_US_and_AE__r.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_US_and_AE__r.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_US_and_AE__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Logo_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_US_and_AE__r.LogoUrl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Contracting_Entity_US_and_AE__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>LAMBDA-32202 setting the Sales rep as the owner of the opportunity</description>
        <name>SetSalesRep</name>
        <label>Set Sales Rep</label>
        <locationX>678</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SalesRep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Quote_Template_is_not_set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if a default subsidiary was found</description>
        <name>Has_Default_Subsidiary</name>
        <label>Has Default Subsidiary?</label>
        <locationX>554</locationX>
        <locationY>1830</locationY>
        <defaultConnector>
            <targetReference>Is_US_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Default_Subsidiary.Subsidiary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Subsidiary_Service_Provider</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Quote_Template_is_not_set</name>
        <label>If Quote Template is not set</label>
        <locationX>981</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Template already set</defaultConnectorLabel>
        <rules>
            <name>Template_is_not_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteTemplateId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_product_specific_template</targetReference>
            </connector>
            <label>Template is not set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if is a maintenance product looking at the product code</description>
        <name>Is_it_a_Maintenance_product</name>
        <label>Is it a Maintenance product</label>
        <locationX>990</locationX>
        <locationY>875</locationY>
        <defaultConnector>
            <targetReference>Is_it_a_SaaS_product_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not maintenance</defaultConnectorLabel>
        <rules>
            <name>Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Go_through_all_quote_lines.SBQQ__Product__r.ProductCode</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MNT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_true_to_variable_has_maintenance</targetReference>
            </connector>
            <label>Maintenance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_SaaS_product_0</name>
        <label>Is it a SaaS product?</label>
        <locationX>982</locationX>
        <locationY>1083</locationY>
        <defaultConnector>
            <targetReference>Is_it_an_On_Prem_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not SaaS</defaultConnectorLabel>
        <rules>
            <name>SaaS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Go_through_all_quote_lines.SBQQ__Product__r.Deployment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaaS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_SaaS_count</targetReference>
            </connector>
            <label>SaaS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_an_On_Prem_product</name>
        <label>Is it an On-Prem product?</label>
        <locationX>1560</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>Go_through_all_quote_lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not On-Prem</defaultConnectorLabel>
        <rules>
            <name>On_Prem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Go_through_all_quote_lines.SBQQ__Product__r.Deployment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OnPrem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_OnPerm_count</targetReference>
            </connector>
            <label>On-Prem</label>
        </rules>
    </decisions>
    <decisions>
        <description>check that the opportunity is of type Renewal in order to set the Quote to type Renewal as well</description>
        <name>Is_Renewal_Opportunity</name>
        <label>Is Renewal Opportunity?</label>
        <locationX>554</locationX>
        <locationY>1270</locationY>
        <defaultConnector>
            <targetReference>Find_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Renewal</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Renewal</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_US_Customer</name>
        <label>US Customer?</label>
        <locationX>556</locationX>
        <locationY>2076</locationY>
        <defaultConnector>
            <targetReference>Set_Non_US_Service_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-US</defaultConnectorLabel>
        <rules>
            <name>US_AND_UAE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>us</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.A.E.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Arab Emirates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Us_Service_Provider</targetReference>
            </connector>
            <label>US AND UAE</label>
        </rules>
        <rules>
            <name>Austria_And_Germany</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Austria_and_Germany_Provider</targetReference>
            </connector>
            <label>Austria And Germany</label>
        </rules>
        <rules>
            <name>Japan</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Japan_Provider</targetReference>
            </connector>
            <label>Japan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_Found</name>
        <label>Template Found</label>
        <locationX>1451</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Set_TemplateId_on_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_template_for_the_Opp_type</targetReference>
            </connector>
            <label>Not found</label>
        </rules>
    </decisions>
    <description>Update counters on Quote (SaaS/On-Prem) 
Set quote to renewal type if the opportunity is of type renewal
Set service provider on Quote

Enable custom setting: Automation Setting Disable All Flow in entry criteria</description>
    <formulas>
        <description>Default subsidiary will be on the partner if opportunity has partner, if not, it will be on the opportunity account</description>
        <name>AccountToFindDefaultSubsidiary</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Find_Partner.AccountToId}, {!$Record.SBQQ__Opportunity2__r.AccountId})</expression>
    </formulas>
    <formulas>
        <name>DefaultUptickAmount</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Uptick_Multiplier__c}) || {!$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Uptick_Multiplier__c}&lt;1
,0,
{!$Record.SBQQ__Opportunity2__r.Product_Configuration__r.Uptick_Multiplier__c} * {!$Record.SBQQ__Opportunity2__r.Current_ARR__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HasLineItemsFooterText</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Line_Items_Footer_Text__c}))</expression>
    </formulas>
    <formulas>
        <name>HasOnPrem</name>
        <dataType>Boolean</dataType>
        <expression>{!OnPremCount} &gt; 0 &amp;&amp; !{!HasMaintenance}</expression>
    </formulas>
    <formulas>
        <name>HasSaaS</name>
        <dataType>Boolean</dataType>
        <expression>{!SaaSCount} &gt; 0 &amp;&amp; !{!HasMaintenance}</expression>
    </formulas>
    <interviewLabel>OnQuoteCreateOrUpdateSetupQuoteParameters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnQuoteCreateOrUpdateSetupQuoteParameters</label>
    <loops>
        <name>Go_through_all_quote_lines</name>
        <label>Go through all quote lines</label>
        <locationX>990</locationX>
        <locationY>654</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_a_Maintenance_product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Product_Types_on_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Find out if the partner or the account (when there is no partner) has a default subsidiary</description>
        <name>Find_Default_Subsidiary</name>
        <label>Find Default Subsidiary</label>
        <locationX>561</locationX>
        <locationY>1659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Default_Subsidiary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountToFindDefaultSubsidiary</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Default_Account_Subsidiary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the partner if opportunity has</description>
        <name>Find_Partner</name>
        <label>Find Partner</label>
        <locationX>561</locationX>
        <locationY>1492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Default_Subsidiary</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VAR/Reseller</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountPartner</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountToId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get quote lines</label>
        <locationX>990</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_through_all_quote_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_template_for_the_Opp_type</name>
        <label>Get general template for the Opp type</label>
        <locationX>1733</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TemplateId_on_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Type</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteTemplate__c</object>
        <outputAssignments>
            <assignToReference>TemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Is_there_a_product_specific_template</name>
        <label>Is there a product-specific template?</label>
        <locationX>1242</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Template_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Type</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteTemplate__c</object>
        <outputAssignments>
            <assignToReference>TemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>864</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Contracting_Method</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable that will be set to true if it has maintenance products in the quote</description>
        <name>HasMaintenance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OnPremCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SaaSCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
