metadata/sf-prod/force-app/main/default/flows/OnQuoteCreateOrUpdate_ValidatePrimaryContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Partner_Account_Count</name>
        <label>Assign Partner Account Count</label>
        <locationX>248</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>PartnerCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Partner_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Partner_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Invalid_Flag</name>
        <label>Initialize Invalid Flag</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>InvalidFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_And_Compare_through_Partner_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Invalid_Flag</name>
        <label>Reset Invalid Flag</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Invalid_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Partner_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invalid_Flag</name>
        <label>Set Invalid Flag</label>
        <locationX>248</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Invalid_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvalidFlag</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Invalid_Variable</name>
        <label>Set Invalid Variable</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>InvalidFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Invalid_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unset_Invalid_Flag</name>
        <label>Unset Invalid Flag</label>
        <locationX>138</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>InvalidFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_And_Compare_through_Partner_Accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Contact_Is_Related_to_Opportunity_Account</name>
        <label>Check If Contact Is Related to Opportunity Account</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Does_Not_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryContact__r.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invalid_Variable</targetReference>
            </connector>
            <label>Account Does Not Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Partner_Exist</name>
        <label>Check If Partner Exist</label>
        <locationX>248</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Check_If_Contact_Is_Related_to_Opportunity_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasValidPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartnerCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartnerCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Invalid_Flag</targetReference>
            </connector>
            <label>Has Valid Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Account</name>
        <label>Check Partner Account</label>
        <locationX>270</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Loop_And_Compare_through_Partner_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Account_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_And_Compare_through_Partner_Accounts.AccountToId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__PrimaryContact__r.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unset_Invalid_Flag</targetReference>
            </connector>
            <label>Partner Account Matches</label>
        </rules>
    </decisions>
    <description>LAMBDA-52272 Add a validation to check if the primary contact on the quote belongs to the same Account on the opportunity.</description>
    <interviewLabel>OnQuoteCreateOrUpdate_ValidatePrimaryContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnQuoteCreateOrUpdate_ValidatePrimaryContact</label>
    <loops>
        <name>Loop_And_Compare_through_Partner_Accounts</name>
        <label>Loop And Compare through Partner Accounts</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_Related_Partner_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Partner_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Invalid_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Partner_Account</name>
        <label>Get Related Partner Account</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Partner_Account_Count</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VAR/Reseller</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountToId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_Invalid_Flag</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>InvalidFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Count for the partner accounts</description>
        <name>PartnerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
