metadata/sf-prod/force-app/main/default/flows/OnTaskCreated_CheckAllTasksCompleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>For the Sales integration user, we process async because tasks are created in batch and running this flow immediately will fail to create the tasks.</description>
        <name>Is_Sales_Integration_User</name>
        <label>Is Sales Integration User?</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_All_Tasks_Completed_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0052x000002Q1Bb</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>For the Sales integration user, we process async because tasks are created in batch and running this flow immediately will fail to create the tasks.</description>
        <name>Is_Sales_Integration_User2</name>
        <label>Is Sales Integration User?</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0052x000002Q1Bb</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_Tasks_Completed_Field2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>30/08/2023 LAMBDA-64763 enable Automation Setting in entry criteria</description>
    <formulas>
        <name>AllTasksCompleted</name>
        <dataType>Boolean</dataType>
        <expression>{!OpenTasks} = 0</expression>
    </formulas>
    <interviewLabel>OnTaskCreated CheckAllTasksCompleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnTaskCreated CheckAllTasksCompleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Sales_Integration_User</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Async</name>
            <connector>
                <targetReference>Is_Sales_Integration_User2</targetReference>
            </connector>
            <label>Async</label>
            <maxBatchSize>10</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_All_Tasks_Completed_Field</name>
        <label>Update All Tasks Completed Field</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <flowName>Update_All_Tasks_Completed_field</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_All_Tasks_Completed_Field2</name>
        <label>Update All Tasks Completed Field</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <flowName>Update_All_Tasks_Completed_field</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>OpenTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
