metadata/sf-prod/force-app/main/default/flows/OnTaskCreateOrUpdate_CreateXOPrimeLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_new_Lead_owner</name>
        <label>Notify new Lead owner</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_David.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New XO Prime MQL added</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Check whether the task is eligible for Lead</description>
        <name>IS_XO_Prime_Lead</name>
        <label>IS XO Prime Lead</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_XO_Prime_Lead</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.XO_Prime_Q1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.XO_Prime_Q1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I don&apos;t know</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_contact</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Create XO Prime Lead</label>
        </rules>
    </decisions>
    <description>LAMBDA-49976 Automatically create a SF Prime Lead when Renewal Call Task meets XO Prime MQL qualification.
30/08/2023 LAMBDA-64763 enable Automation Setting in entry criteria</description>
    <formulas>
        <description>Create a URL to the Task that triggered this flow.</description>
        <name>MakeTaskURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/Task/&apos;&amp;{!$Record.Id}&amp;&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>OnTaskCreateOrUpdate_createXOPrimeLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnTaskCreateOrUpdate_createXOPrimeLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a XO prime lead to be followed by Sales person</description>
        <name>Create_XO_Prime_Lead_Record</name>
        <label>Create XO Prime Lead Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Notify_new_Lead_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_Related_contact.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Related_contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Related_contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Referrer__c</field>
            <value>
                <elementReference>MakeTaskURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Related_contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Renewals Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_David.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>XO Hire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get specific user so we can assign him as owner of XO Prime leads (until we figure out why automatic assignment is not working - it assigns whoever executed the flow as the new record owner)</description>
        <name>Get_David</name>
        <label>Get David Haselwood</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_XO_Prime_Lead_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Haselwood</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the contact through which the lead will be created</description>
        <name>Get_Related_contact</name>
        <label>Get Related contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_David</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IS_XO_Prime_Lead</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New XO Prime MQL was added:
https://trilogy-sales.lightning.force.com/lightning/r/Lead/{!Create_XO_Prime_Lead_Record}/view</text>
    </textTemplates>
</Flow>
