metadata/sf-prod/force-app/main/default/flows/OpportunityCreateOrUpdate_SetApprovingVP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>If the opportunity is handled by the BU then set approving VP as BU manager</description>
        <name>Set_BU_as_AVP</name>
        <label>Set BU as AVP</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approving_VP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Config.BU_Manager__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_BU_Manager</name>
        <label>Set BU Manager</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Config.BU_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opportunity_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If record type is New business then set New business manager as AVP if it is not null</description>
        <name>Set_New_Business_Manager_as_AVP</name>
        <label>Set New Business Manager as AVP</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approving_VP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Config.New_Business_Manager__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set the Approving VP from the Renewal Manager lookup</description>
        <name>Set_Renewal_Manger_as_AVP</name>
        <label>Set Renewal Manger as AVP</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approving_VP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Config.Renewal_Manager__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Opportunity_Record_Type</name>
        <label>Check Opportunity Record Type</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Config.New_Business_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Business_Manager_as_AVP</targetReference>
            </connector>
            <label>Is New Business?</label>
        </rules>
        <rules>
            <name>Is_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Config.Renewal_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Handled_by_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Renewal_Manger_as_AVP</targetReference>
            </connector>
            <label>Is Renewal</label>
        </rules>
        <rules>
            <name>Other_Record_Types</name>
            <conditionLogic>((1 AND 2) OR (NOT(2) AND 4)) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New_Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Config.BU_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BU_as_AVP</targetReference>
            </connector>
            <label>Other Record Types</label>
        </rules>
        <rules>
            <name>Handled_by_BU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handled_by_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Config.BU_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BU_as_AVP</targetReference>
            </connector>
            <label>Handled by BU</label>
        </rules>
        <rules>
            <name>None_of_above_matches_and_BU_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Config.BU_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BU_as_AVP</targetReference>
            </connector>
            <label>None of above matches and BU is not empty</label>
        </rules>
        <rules>
            <name>Nothing_Matched_and_BU_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Config.Renewal_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Renewal_Manger_as_AVP</targetReference>
            </connector>
            <label>Nothing Matched and BU is Empty</label>
        </rules>
    </decisions>
    <description>LAMBDA-70346 - Optimize and updated the flow to set Approving VP based on different combinations of Records Types, Type and Handled by BU flag</description>
    <interviewLabel>OpportunityCreateOrUpdate_SetApprovingVP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityCreateOrUpdate_SetApprovingVP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Config</name>
        <label>Get Product Config</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_BU_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Configuration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Config</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
