metadata/sf-prod/force-app/main/default/flows/Request_Extension_Screen_FloW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_License_Extension_process</name>
        <label>Submit for License Extension process</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>OpportunityBeingExtended.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Extension_reason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>OpportunityBeingExtended.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>License_Extension</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_record</name>
        <label>Assign Opportunity record</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>OpportunityBeingExtended</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Extensions_Granted_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_File_Count</name>
        <label>Set File Count</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>UploadedFileCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Extension_Document.contentVersionIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowFileErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_file_uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Error_message</name>
        <label>Show Error message</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ShowFileErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>committedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Committed_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extension_reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Extension_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_file_uploaded</name>
        <label>Check file uploaded</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Show_Error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File not uploaded</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadedFileCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Description</targetReference>
            </connector>
            <label>File Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <description>LAMBDA-61893 Update License Extension approval process to require VP approval only for second extension</description>
        <name>Check_if_this_is_first_extension</name>
        <label>Check if this is first extension</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Submit_for_License_Extension_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Second Extension</defaultConnectorLabel>
        <rules>
            <name>Is_First_Extension</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Extensions_Granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Extensions_Granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Extenstion</targetReference>
            </connector>
            <label>Is First Extension</label>
        </rules>
    </decisions>
    <decisions>
        <description>LAMBDA-60440 validate if the limit of extensions have reached</description>
        <name>Validate_Extensions_Granted_Limit</name>
        <label>Validate Extensions Granted Limit</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Extension_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityBeingExtended.Extensions_Granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extension_Limit_Message</targetReference>
            </connector>
            <label>Limit reached</label>
        </rules>
    </decisions>
    <description>LAMBDA-60440 - Screen flow for License extension process to be filled by ISRs</description>
    <formulas>
        <name>comment</name>
        <dataType>String</dataType>
        <expression>&apos;Renewal extension requested :-&apos; &amp; SUBSTITUTE({!BreakLineTemplate}, &apos;~&apos;, &apos;&apos;) &amp;
&apos;Customer committed date: &apos; &amp; TEXT({!Customer_Committed_Date}) &amp; SUBSTITUTE({!BreakLineTemplate}, &apos;~&apos;, &apos;&apos;) &amp;
&apos;Extension Reason: &apos; &amp;  {!Extension_reason} &amp; SUBSTITUTE({!BreakLineTemplate}, &apos;~&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>contentDocumentIdsLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!ContentDocumentIds})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewDescription</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY())) &amp; &apos;/&apos; &amp; TEXT(DAY(TODAY())) &amp; &apos;/&apos; &amp; TEXT(YEAR(TODAY())) &amp; &apos; &apos; &amp; {!$User.FirstName} &amp; &apos; &apos; &amp; {!$User.LastName} &amp; &apos; - &apos; &amp; {!comment} &amp; SUBSTITUTE({!BreakLineTemplate}, &apos;~&apos;, &apos;&apos;) &amp;{!OpportunityBeingExtended.Description}</expression>
    </formulas>
    <interviewLabel>Request Extension Screen FloW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Extension</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set the close date based on the customer committed date</description>
        <name>Set_First_Extenstion</name>
        <label>Set First Extenstion</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityBeingExtended.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Customer_Committed_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extensions_Granted__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Description</name>
        <label>Update Opportunity Description</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Check_if_this_is_first_extension</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityBeingExtended.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_License_Extension_Commited_Date__c</field>
            <value>
                <elementReference>Customer_Committed_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>LAMBDA-60440 screen to capture the details for the approval process required for extension</description>
        <name>Extension_Details</name>
        <label>Extension Details</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_File_Count</targetReference>
        </connector>
        <fields>
            <name>Customer_Committed_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>committedDate</elementReference>
            </defaultValue>
            <fieldText>Customer Committed Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please select a Customer Commitment Date between tomorrow and 14 days from now.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Customer_Committed_Date}&gt;Today(),{!Customer_Committed_Date}&lt;(Today()+14))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Extension_reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>extensionReason</elementReference>
            </defaultValue>
            <fieldText>Extension reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Extension_Document</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Extension Acknowledgement from Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf,.jpg,.jpeg,.png,.csv,.doc,.docx,.txt,.xls,.xlsx,.zip</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OpportunityBeingExtended.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>contentVersionIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>FileNames</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FileError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 25, 25);&quot;&gt;Please upload a file to support your License extension request&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFileErrorMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Extension_Limit_Message</name>
        <label>Extension Limit Message</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExtensionLimitReached</name>
            <fieldText>&lt;p&gt;The Opportunity has already been extended twice. It cannot be extended further&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BreakLineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>~
~</text>
    </textTemplates>
    <variables>
        <name>Assignedfilerecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>committedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Documentstoinsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>extensionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityBeingExtended</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowFileErrorMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UploadedFileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
