metadata/sf-prod/force-app/main/default/flows/Schedule_Survey_Invitation_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>survey_invitation_reminder</name>
        <label>survey invitation reminder</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>fromEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>toAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_email_template.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Invitation_older_than_7_days</name>
        <label>Is Invitation older than 7 days</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Survey_invitation_multiple_of_7_days_old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSurveyCreatedInThePastAndModOf7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_email_template</targetReference>
            </connector>
            <label>is Survey invitation multiple of 7 days old</label>
        </rules>
    </decisions>
    <description>LAMBDA-65516 Survey invitation reminder to be sent where Opportunity is still in outreach and survey is not completed</description>
    <formulas>
        <name>Date7DaysAgo</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(Today()) - 7</expression>
    </formulas>
    <formulas>
        <name>DateSevenDaysAgo</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <formulas>
        <name>fromEmail</name>
        <dataType>String</dataType>
        <expression>&quot;renewals@&quot;+{!$Record.Opportunity__r.Product_Configuration__r.Mailbox_Override__c}</expression>
    </formulas>
    <formulas>
        <name>IsSurveyCreatedInThePastAndModOf7</name>
        <dataType>Boolean</dataType>
        <expression>ABS((DATEVALUE({!$Record.CreatedDate}) - TODAY())) = 7</expression>
    </formulas>
    <formulas>
        <name>OpportunityStage</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Opportunity__r.StageName})</expression>
    </formulas>
    <formulas>
        <name>sevenDaysAgo</name>
        <dataType>String</dataType>
        <expression>TEXT(Today()-7)</expression>
    </formulas>
    <formulas>
        <name>toAddresses</name>
        <dataType>String</dataType>
        <expression>{!$Record.ContactId}</expression>
    </formulas>
    <interviewLabel>Schedule Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Survey Invitation Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_email_template</name>
        <label>Get email template</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>survey_invitation_reminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.IntroTemplateWithLink</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Invitation_older_than_7_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseStatus</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outreach</stringValue>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-20</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
