metadata/sf-prod/force-app/main/default/flows/SetAREmailSentOnOpportunity_Scheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_records_to_Collection</name>
        <label>Assign records to Collection</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Go_through_all_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_all_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_AR_Email_Sent_to_True</name>
        <label>set AR Email Sent to True</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Go_through_all_Opportunities.AR_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_records_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>This flow will set checkbox- Sent AR Email on Opportunity which will then trigger the API call to PostGrid to sent the Physical letter for AR Warning</description>
    <formulas>
        <name>dateOfDaysLater</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+41</expression>
    </formulas>
    <interviewLabel>SetAREmailSent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetAREmailSentOnOpportunity_Scheduler</label>
    <loops>
        <name>Go_through_all_Opportunities</name>
        <label>Go through all Opportunities</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>AR_RenewalOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_AR_Email_Sent_to_True</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AR_RenewalOpportunities</name>
        <label>AR_RenewalOpportunities</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_through_all_Opportunities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 AND 5) AND 6</filterLogic>
        <filters>
            <field>AR_Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrentContractHasAutoRenewalClause__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Win_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Quote Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Termination_Deadline__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>dateOfDaysLater</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputReference>OpportunitiesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AR_RenewalOpportunities</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>OpportunitiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
