metadata/sf-prod/force-app/main/default/flows/Subflow_Submit_Opportunity_for_Transfer_to_BU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fire_Approval_Process</name>
        <label>Fire Approval Process</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Final_Message_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>transfer_comment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ApproverIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Transfer_to_BU_Opp_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Pause the flow for a short time to reset the governor limit and avoid exception.</description>
        <name>pauseTransaction</name>
        <label>pauseTransaction</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <actionName>c:localPause</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Is_User_an_Admin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Set the approving VP on the Opportunity which is probably lost for the Approval process</description>
        <name>Set_Approving_VP_on_Opportunity</name>
        <label>Set Approving VP on Opportunity</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.Approving_VP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approving_VP.Renewal_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Approving_VP.Renewal_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportunity_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the approving VP on the Opportunity which is probably lost for the Approval process</description>
        <name>Set_AVP</name>
        <label>Set AVP</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetOpportunity.Approving_VP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportunity_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Description field with userʻs reason to transfer this opportunity.</description>
        <name>Update_the_Description_field</name>
        <label>Update the Description field</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_has_AVP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Opp_has_Product_Configuration</name>
        <label>If Opp has Product Configuration</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Product_Configuration_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_has_Product_Configuration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Product_Configuration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ask_user_the_reason_for_transfer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_current_user_owner_or_admin</name>
        <label>Is current user owner or admin?</label>
        <locationX>809</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Owner_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is not current user</defaultConnectorLabel>
        <rules>
            <name>Owner_is_the_current_user_or_admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Opp_has_Product_Configuration</targetReference>
            </connector>
            <label>Owner is the current user or Admin</label>
        </rules>
    </decisions>
    <decisions>
        <description>LAMBDA-66041 adding a bypass for admins</description>
        <name>Is_User_an_Admin</name>
        <label>Is User an Admin</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Fire_Approval_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Handled_By_BU</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_has_AVP</name>
        <label>Opp has AVP</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Approving_VP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Opp_has_AVP_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Approving_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AVP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>LAMBDA-64838 - Trigger the approval process for transferring an opportunity to BU.</description>
    <formulas>
        <name>NewDescription</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY())) &amp; &apos;/&apos; &amp; TEXT(DAY(TODAY())) &amp; &apos;/&apos; &amp; TEXT(YEAR(TODAY())) &amp; &apos; &apos; &amp; {!$User.FirstName} &amp; &apos; &apos; &amp; {!$User.LastName} &amp; &apos; - &apos; &amp; {!transfer_comment} &amp; SUBSTITUTE({!BreakLineTemplate}, &apos;~&apos;, &apos;&apos;) &amp;{!GetOpportunity.Description}</expression>
    </formulas>
    <formulas>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!GetOpportunity.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Subflow Submit Opportunity for Transfer to BU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Submit Opportunity for Transfer to BU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approving_VP</name>
        <label>Get Approving VP</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Approving_VP_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Product_Configuration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>Opportunity</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_current_user_owner_or_admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Handled_By_BU</name>
        <label>Set Handled By BU</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Admin_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Handled_by_BU__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunity_0</name>
        <label>Opportunity</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>pauseTransaction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowErrorScreen</targetReference>
        </faultConnector>
        <inputReference>GetOpportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Admin_Message</name>
        <label>Admin Message</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalAdminScreen</name>
            <fieldText>&lt;p&gt;The record has been transferred to the BU&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ask_user_the_reason_for_transfer</name>
        <label>Ask user the reason for transfer</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_the_Description_field</targetReference>
        </connector>
        <fields>
            <name>transfer_comment</name>
            <fieldText>Why is this opportunity going to the BU?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Message_Screen</name>
        <label>Final Message Screen</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalMessage</name>
            <fieldText>&lt;p&gt;An approval was requested to the VP in charge of this opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FlowErrorScreen</name>
        <label>FlowErrorScreen</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowErrorMessage</name>
            <fieldText>&lt;p&gt;An error occurred. Please contact Trilogy support team and attach below error messages:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Product_Configuration_Error_Screen</name>
        <label>No Product Configuration Error Screen</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoProductConfigurationError</name>
            <fieldText>&lt;p&gt;There is not Product Configuration linked to this opportunity. &lt;/p&gt;&lt;p&gt;Please add one for this opportunity or ask System Administrator for help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Owner_Error_Screen</name>
        <label>Owner Error Screen</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OwnerErrorText</name>
            <fieldText>&lt;p&gt;Only the owner of the opportunity can submit this request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BreakLineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>~
~</text>
    </textTemplates>
    <variables>
        <name>ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproverIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processviaO2c</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
