metadata/sf-prod/force-app/main/default/flows/Subflow_Submit_Opportunity_for_Close_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Disable_Opportunity_QBs</name>
        <label>Disable Opportunity QBs</label>
        <locationX>1370</locationX>
        <locationY>1190</locationY>
        <actionName>OpportunityQBDisable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Disable_Opportunity_QBs_Non_Renewals</name>
        <label>Disable Opportunity QBs</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>OpportunityQBDisable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Opportunity_Non_Renewals</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Enable_Opportunity_QBs</name>
        <label>Enable Opportunity QBs</label>
        <locationX>1370</locationX>
        <locationY>1406</locationY>
        <actionName>OpportunityQBEnable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Process_finished</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Enable_Opportunity_QBs_Non_Renewals</name>
        <label>Enable Opportunity QBs</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>OpportunityQBEnable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Process_finished_Non_Renewals</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Fire_Approval_process</name>
        <label>Fire Approval process</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Final_message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>GetApprovalProcessName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ApproverIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>pauseTransaction</name>
        <label>pauseTransaction</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <actionName>c:localPause</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Fire_Approval_process</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter</name>
        <label>Post To Chatter</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>t1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Loss_Reason_and_Comment</name>
        <label>Loss Reason and Comment</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Loss_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Secondary_Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Loss_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Cancelation_Notice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCancelationNoticeOrDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Win_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.NetSuite_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewNetsuiteIdorDefault</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_manager_active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_Via_O2C</name>
        <label>Assign Process Via O2C</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>processviaO2c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Product_Configuration__r.Processed_via_OTC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage</name>
        <label>Stage</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disable_Opportunity_QBs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loss_Reason_and_Comment_Non_Renewal</name>
        <label>Loss Reason and Comment</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Loss_Reason_Non_Renewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Secondary_Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Loss_Reason_Non_Renewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Win_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.NetSuite_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewNetsuiteIdorDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disable_Opportunity_QBs_Non_Renewals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the approving VP on the Opportunity which is probably lost for the Approval process</description>
        <name>Set_Approving_VP_on_Opportunity</name>
        <label>Set Approving VP on Opportunity</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.Approving_VP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approving_VP.Renewal_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Approving_VP.Renewal_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportunity_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>t1</name>
        <label>t1</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Loss_Reason_wont_process</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Win_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_manager_active</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Data_Quality</name>
        <choiceText>Data Quality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Quality</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicate</name>
        <choiceText>Duplicate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prime</name>
        <choiceText>Prime</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prime</stringValue>
        </value>
    </choices>
    <constants>
        <description>Won&apos;t Process value</description>
        <name>Wont_Process</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Won&apos;t Process</stringValue>
        </value>
    </constants>
    <decisions>
        <description>check if the entry point is invalid opp</description>
        <name>Entry_Point_Invalid_Opp</name>
        <label>Entry Point Invalid Opp</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Process_Via_O2C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Close Lost</defaultConnectorLabel>
        <rules>
            <name>new_stage_is_wont_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Wont_Process</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Screen_of_wont_process</targetReference>
            </connector>
            <label>new stage is wont process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_manager_active</name>
        <label>Is manager active?</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manager is not active</defaultConnectorLabel>
        <rules>
            <name>Manager_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Owner.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Owner.Manager.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approving_VP</targetReference>
            </connector>
            <label>Manager is active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_owner_the_current_user</name>
        <label>Is owner the current user?</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Owner_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is not current user</defaultConnectorLabel>
        <rules>
            <name>Owner_is_the_current_user</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR Renewals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Lost_Opportunity_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entry_Point_Invalid_Opp</targetReference>
            </connector>
            <label>Owner is the current user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_allowed_to_close_lost</name>
        <label>Is user allowed to close lost?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>User_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is not current user</defaultConnectorLabel>
        <rules>
            <name>Is_user_allowed_to_close_lost_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Team Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BU Sales Ops Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Lost_Opportunity_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>User_Manager.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Screen_Non_Renewal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_VP_Approval</name>
        <label>Need VP Approval?</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Is_owner_the_current_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Need_VP_Approval_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NeedVPApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Profile</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Trigger the approval process for closing an opportunity. If the user doesn&apos;t have a manager set, it will close the opportunity immediately.

29/08/23 - LAMBDA-64838 - Remove Handled by the BU and Handled by Central Renewals options
20/12/23 - LAMBDA-69486 - Update close lost logic for non-renewal opps</description>
    <dynamicChoiceSets>
        <name>LossReasonPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loss_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SecondaryLossReasonPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Secondary_Loss_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Comment</name>
        <dataType>String</dataType>
        <expression>IF({!newStage} = &quot;Finalizing&quot;,&quot;CLOSE LOST&quot;,IF({!newStage} = &quot;Won&apos;t Process&quot;,&quot;INVALID OPP&quot;,&quot;NEW STAGE &quot; &amp; {!newStage})) &amp; &apos;: &apos; &amp; IF({!newStage} = &quot;Won&apos;t Process&quot;,{!Inserted_Comment_wont_process},IF({!NeedVPApproval}, {!Inserted_Comment},{!Inserted_Comment_Non_Renewal}))</expression>
    </formulas>
    <formulas>
        <name>FinalMessageWords</name>
        <dataType>String</dataType>
        <expression>IF({!newStage} = &quot;Finalizing&quot;,&quot;Close Lose&quot;,{!newStage})</expression>
    </formulas>
    <formulas>
        <name>GetApprovalProcessName</name>
        <dataType>String</dataType>
        <expression>IF({!newStage} = &quot;Finalizing&quot;,&quot;Close_Lost_Approval&quot;,IF({!newStage} = &quot;Won&apos;t Process&quot;,&quot;Invalid_Opp_Approval&quot;,&quot;undefined&quot;))</expression>
    </formulas>
    <formulas>
        <name>ManagerId</name>
        <dataType>String</dataType>
        <expression>{!GetOpportunity.Owner.ManagerId}</expression>
    </formulas>
    <formulas>
        <name>NeedVPApproval</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
OR(
ISPICKVAL({!GetOpportunity.Type}, &apos;Upsell&apos;),
ISPICKVAL({!GetOpportunity.Type}, &apos;xBR&apos;),
ISPICKVAL({!GetOpportunity.Type}, &apos;New Business&apos;),
ISPICKVAL({!GetOpportunity.Type}, &apos;Professional Services&apos;)
))</expression>
    </formulas>
    <formulas>
        <name>NewCancelationNoticeOrDefault</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Selected_Cancelation_Notice}), {!GetOpportunity.Cancelation_Notice__c}, {!Selected_Cancelation_Notice})</expression>
    </formulas>
    <formulas>
        <name>NewDescription</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY())) &amp; &apos;/&apos; &amp; TEXT(DAY(TODAY())) &amp; &apos;/&apos; &amp; TEXT(YEAR(TODAY())) &amp; &apos; &apos; &amp; {!$User.FirstName} &amp; &apos; &apos; &amp; {!$User.LastName} &amp; &apos; - &apos; &amp; {!Comment} &amp; SUBSTITUTE({!BreakLineTemplate}, &apos;~&apos;, &apos;&apos;) &amp;{!GetOpportunity.Description}</expression>
    </formulas>
    <formulas>
        <name>NewNetsuiteIdorDefault</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Netsuite_Id}), {!GetOpportunity.NetSuite_ID__c}, {!Netsuite_Id})</expression>
    </formulas>
    <formulas>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!GetOpportunity.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Subflow Submit Opportunity for Close Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Submit Opportunity for Close Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approving_VP</name>
        <label>Get Approving VP</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Approving_VP_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Product_Configuration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>Opportunity</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_VP_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Manager</name>
        <label>User Manager</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_user_allowed_to_close_lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Owner.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Profile</name>
        <label>User Profile</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Opportunity_Non_Renewals</name>
        <label>Opportunity</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Enable_Opportunity_QBs_Non_Renewals</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Non_Renewals</targetReference>
        </faultConnector>
        <inputReference>GetOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>Opportunity</label>
        <locationX>1370</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Enable_Opportunity_QBs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>GetOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunity_0</name>
        <label>Opportunity</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>pauseTransaction</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>GetOpportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1634</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;An error occurred while updating the opportunity. Please, go to the previous screen and select a different option, or contact Trilogy support team.&lt;/p&gt;&lt;p&gt;- Stage name: {!newStage}&lt;/p&gt;&lt;p&gt;- Loss reason: {!GetOpportunity.Loss_Reason__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Non_Renewals</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreen_Non_Renewals</name>
            <fieldText>&lt;p&gt;An error occurred while updating the opportunity. Please, go to the previous screen and select a different option, or contact Trilogy support team.&lt;/p&gt;&lt;p&gt;- Stage name: {!newStage}&lt;/p&gt;&lt;p&gt;- Loss reason: {!GetOpportunity.Loss_Reason__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_message</name>
        <label>Final message</label>
        <locationX>842</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>final_messsage_text</name>
            <fieldText>&lt;p&gt;An approval was requested from your manager to {!FinalMessageWords} the opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Loss_Reason_and_Comment</targetReference>
        </connector>
        <fields>
            <name>loss_reason_required_text</name>
            <fieldText>&lt;p&gt;Please fill in the following fields to continue&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_Loss_Reason</name>
            <choiceReferences>LossReasonPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loss Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secondary_Loss_Reason</name>
            <choiceReferences>SecondaryLossReasonPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetOpportunity.Secondary_Loss_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Secondary Loss Reason</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Selected_Cancelation_Notice</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetOpportunity.Cancelation_Notice__c</elementReference>
            </defaultValue>
            <fieldText>Cancelation Notice</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please provide the Salesforce document URL for the customer cancelation notice.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;URL must be from a ContentDocument link (e.g. https://trilogy-sales.lightning.force.com/lightning/r/ContentDocument/0692x00000B9knZAAR/view)&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Selected_Cancelation_Notice}, &quot;^https:\\/\\/trilogy-sales\\.lightning\\.force\\.com\\/lightning\\/r\\/ContentDocument\\/\\S*\\/view$&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>newStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Finalizing</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Loss_Reason</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Data_Quality</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Selected_Loss_Reason</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Duplicate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetOpportunity.CurrentContractHasAutoRenewalClause__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Netsuite_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetOpportunity.NetSuite_ID__c</elementReference>
            </defaultValue>
            <fieldText>Netsuite Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetOpportunity.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Renewal</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>processviaO2c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Inserted_Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_Non_Renewal</name>
        <label>Input Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loss_Reason_and_Comment_Non_Renewal</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_loss_reason_required_text</name>
            <fieldText>&lt;p&gt;Please fill in the following fields to continue&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_Loss_Reason_Non_Renewal</name>
            <choiceReferences>LossReasonPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loss Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secondary_Loss_Reason_Non_Renewal</name>
            <choiceReferences>SecondaryLossReasonPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetOpportunity.Secondary_Loss_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Secondary Loss Reason</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Inserted_Comment_Non_Renewal</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_of_wont_process</name>
        <label>Input Screen of wont process</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Post_To_Chatter</targetReference>
        </connector>
        <fields>
            <name>loss_reason_required_text_wont_process</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please fill in the following fields to continue&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_Loss_Reason_wont_process</name>
            <choiceReferences>Prime</choiceReferences>
            <choiceReferences>Duplicate</choiceReferences>
            <choiceReferences>Data_Quality</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Data_Quality</defaultSelectedChoiceReference>
            <fieldText>Why won&apos;t we process this opportunity?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inserted_Comment_wont_process</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Owner_Error_Screen</name>
        <label>Owner Error Screen</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OwnerErrorText</name>
            <fieldText>&lt;p&gt;Only the owner of the opportunity can submit this request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Process_finished</name>
        <label>Process finished</label>
        <locationX>1370</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>process_finished_text</name>
            <fieldText>&lt;p&gt;The opportunity is set to {!newStage}!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Process_finished_Non_Renewals</name>
        <label>Process finished</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>process_finished_text_Non_Renewals</name>
            <fieldText>&lt;p&gt;The opportunity is set to {!newStage}!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Error_Screen</name>
        <label>User Error Screen</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UserErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Only following users are allowed to close lost this opportunity:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity Owner&lt;/p&gt;&lt;p&gt;Opportunity Owner&apos;s Manager&lt;/p&gt;&lt;p&gt;System Admin&lt;/p&gt;&lt;p&gt;Team Manager&lt;/p&gt;&lt;p&gt;BU Manager&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BreakLineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>~
~</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[0052x000003iR2NAAU], There is a request to mark Opportunity named {!GetOpportunity.Name} to Won&apos;t Process with the following comment:- {!Comment}</text>
    </textTemplates>
    <variables>
        <name>ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproverIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processviaO2c</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
