metadata/sf-prod/force-app/main/default/flows/UpdateQuoteLinesEndDates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Store the modified line</description>
        <name>Apped_to_Collection_0</name>
        <label>Append Line to Collection</label>
        <locationX>138</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>LinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Quote_Lines_With_Term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_With_Term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store the modified line</description>
        <name>Append_Line_to_Collection_1</name>
        <label>Append Line to Collection</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>LinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Quote_Lines_With_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_With_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>End Date = null for the line</description>
        <name>Reset_Record_End_Date</name>
        <label>Reset Record End Date</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>NewLineEndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Lines_With_End_Date.SBQQ__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LatestLineEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Line_to_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Maximum_Term_0</name>
        <label>Set Maximum Term</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>maxTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_With_Term.SBQQ__SubscriptionTerm__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Term_Max</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the calculated End Date for the line</description>
        <name>Set_Record_End_Date</name>
        <label>Set Record End Date</label>
        <locationX>138</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>NewLineEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the calculated End Date for the line</description>
        <name>Set_Record_End_Date_0_0</name>
        <label>Set Record End Date</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Loop_Quote_Lines_With_Term.SBQQ__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewLineEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apped_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_Count_of_Quote_Lines_With_Term</name>
        <label>Set the Count of Quote Lines With Term</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CountOfQuoteLinesWithTerm</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Quote_Lines_With_Term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_any_quote_line_with_term</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Sub collection of quote lines that have subscription term</description>
        <name>Filter_Quote_Lines_With_End_Date</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Quote Lines With End Date</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Filter_Quote_Lines_With_End_Date_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Quote_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Quote_Lines_With_End_Date_0.SBQQ__SubscriptionTerm__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Quote_Lines_With_End_Date_0.SBQQ__EndDate__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_the_Count_of_Quote_Lines_With_Term</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Sub collection of quote lines that have subscription term</description>
        <name>Filter_Quote_Lines_With_Term</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Quote Lines With Term</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Quote_Lines_With_End_Date_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Quote_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Quote_Lines_With_End_Date_0.SBQQ__SubscriptionTerm__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Quote_Lines_With_End_Date</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Sort quote lines with term collection by subscription term DESC</description>
        <name>Sort_Quote_Lines_With_Term_by_Term_DESC</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Quote Lines With Term by Term DESC</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Quote_Lines_With_Term</collectionReference>
        <connector>
            <targetReference>Loop_Quote_Lines_With_Term</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>SBQQ__SubscriptionTerm__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Check if any changes have been made to the record</description>
        <name>Check_changes</name>
        <label>Check changes</label>
        <locationX>270</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Loop_Quote_Lines_With_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_With_Term.SBQQ__EndDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>NewLineEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_End_Date_0_0</targetReference>
            </connector>
            <label>End Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Iteration</name>
        <label>First Iteration?</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Term_Max</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Non_Max_Term</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Maximum_Term_0</targetReference>
            </connector>
            <label>First Iteration</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if at least one of the quote lines has terms set.</description>
        <name>Has_any_quote_line_with_term</name>
        <label>Has any quote line with term?</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Line_With_Latest_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_any_quote_line_with_term_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfQuoteLinesWithTerm</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_Quote_Lines_With_Term_by_Term_DESC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_End_Date_Changed</name>
        <label>Has End Date Changed?</label>
        <locationX>886</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_Quote_Lines_With_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_End_Date_Changed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_With_End_Date.SBQQ__EndDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LatestLineEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>True if the current record has a non-maximum term</description>
        <name>Term_Max</name>
        <label>Term &lt; Max()?</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Reset_Record_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Max_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>maxTerm</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Loop_Quote_Lines_With_Term.SBQQ__SubscriptionTerm__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_End_Date</targetReference>
            </connector>
            <label>Non Max Term</label>
        </rules>
    </decisions>
    <description>The flow updates End Dates for the given Quote and the Quote Lines with smaller terms

LAMBDA-65397: Allow user to select End Date on Quote line and use it for End Date calculation
LAMBDA-68910: Fix Quote Line EndDate not changed but trigger quote line trigger and flow error</description>
    <formulas>
        <description>Calculates End Date of the quote as StartDate+Max(Lines.Term)</description>
        <name>QuoteEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!maxTerm}), NULL, ADDMONTHS({!TargetQuote.SBQQ__StartDate__c},{!maxTerm})-1)</expression>
    </formulas>
    <formulas>
        <description>Calculated End Date for a Quote Line based on the Quote Start Date and the Subscription Term</description>
        <name>SubscriptionEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Loop_Quote_Lines_With_Term.SBQQ__Quote__r.SBQQ__StartDate__c},{!Loop_Quote_Lines_With_Term.SBQQ__SubscriptionTerm__c})-1</expression>
    </formulas>
    <interviewLabel>UpdateQuoteLinesEndDates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateQuoteLinesEndDates</label>
    <loops>
        <name>Loop_Quote_Lines_With_End_Date</name>
        <label>Loop Quote Lines With End Date</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <collectionReference>Filter_Quote_Lines_With_End_Date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_End_Date_Changed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Lines_to_DB_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop the quote lines with subscription term</description>
        <name>Loop_Quote_Lines_With_Term</name>
        <label>Loop Quote Lines With Term</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Filter_Quote_Lines_With_Term</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>First_Iteration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_to_DB</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Quote_Lines</name>
        <label>Get All Quote Lines</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Quote_Lines_With_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetQuote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_With_Latest_End_Date</name>
        <label>Get Quote Line With Latest End Date</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Lines_With_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetQuote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputAssignments>
            <assignToReference>LatestLineEndDate</assignToReference>
            <field>SBQQ__EndDate__c</field>
        </outputAssignments>
        <sortField>SBQQ__EndDate__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Save all the modified lines to database</description>
        <name>Save_Lines_to_DB_1</name>
        <label>Save Lines to DB</label>
        <locationX>666</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Update_Quote_EndDate_1</targetReference>
        </connector>
        <inputReference>LinesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Save all the modified lines to database</description>
        <name>Save_to_DB</name>
        <label>Save Lines to DB</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Update_Quote_EndDate</targetReference>
        </connector>
        <inputReference>LinesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set EndDate for the TargetQuote</description>
        <name>Update_Quote_EndDate</name>
        <label>Update Quote EndDate</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetQuote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EndDate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>QuoteEndDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__EndDate__c</field>
            <value>
                <elementReference>QuoteEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set EndDate for the TargetQuote</description>
        <name>Update_Quote_EndDate_1</name>
        <label>Update Quote EndDate</label>
        <locationX>666</locationX>
        <locationY>1490</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetQuote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EndDate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>LatestLineEndDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__EndDate__c</field>
            <value>
                <elementReference>LatestLineEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Quote_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Count of the quote lines with subscription term</description>
        <name>CountOfQuoteLinesWithTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Quote_Lines_With_End_Date_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <description>The latest end date across all quote lines</description>
        <name>LatestLineEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lines to be saved at the end of the flow</description>
        <name>LinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <description>Maximum Term</description>
        <name>maxTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NewLineEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Quote we need to process</description>
        <name>TargetQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
