metadata/sf-prod/force-app/main/default/flows/UpdateQCScorecardOnQCRuleResultUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_All_Counts</name>
        <label>Assign All Counts</label>
        <locationX>238</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Count_Pass_QC_Rule_Results</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Passed_QC_Rule_Results_Of_Parent_QC_Scorecard</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_Fail_QC_Rule_Results</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Failed_QC_Rule_Results_Of_Parent_QC_Scorecard</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_Null_QC_Rule_Results</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Null_QC_Rule_Results_Of_Parent_QC_Scorecard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QC_Scorecard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Result_Datetime</name>
        <label>Update Result Datetime</label>
        <locationX>563</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>$Record.Result_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Result</targetReference>
        </connector>
    </assignments>
    <description>Updates the Result and the Score on the QC Scorecard when a result is changed on QC Rule Result</description>
    <formulas>
        <name>QC_Scorecard_Result</name>
        <dataType>String</dataType>
        <expression>IF({!Count_Fail_QC_Rule_Results} &gt; 0, &quot;Fail&quot;, 
IF({!Count_Pass_QC_Rule_Results} &gt; 0, &quot;Pass&quot;, 
&quot;Unable To Grade&quot;))</expression>
    </formulas>
    <formulas>
        <name>QC_Scorecard_Score</name>
        <dataType>Number</dataType>
        <expression>IF({!QC_Scorecard_Result}==&apos;Pass&apos; || {!QC_Scorecard_Result}==&apos;Fail&apos;,  {!Count_Pass_QC_Rule_Results} * 100 / ({!Count_Pass_QC_Rule_Results} +{!Count_Fail_QC_Rule_Results}) , null)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>UpdateQCScorecardOnQCRuleResultUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateQCScorecardOnQCRuleResultUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Failed_QC_Rule_Results_Of_Parent_QC_Scorecard</name>
        <label>Get All Failed QC Rule Results Of Parent QC Scorecard</label>
        <locationX>560</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Null_QC_Rule_Results_Of_Parent_QC_Scorecard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QC_Scorecard__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QC_Scorecard__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QC_Rule_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Null_QC_Rule_Results_Of_Parent_QC_Scorecard</name>
        <label>Get All Null QC Rule Results Of Parent QC Scorecard</label>
        <locationX>238</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_All_Counts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QC_Scorecard__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QC_Scorecard__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QC_Rule_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Passed_QC_Rule_Results_Of_Parent_QC_Scorecard</name>
        <label>Get All Passed QC Rule Results Of Parent QC Scorecard</label>
        <locationX>869</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Failed_QC_Rule_Results_Of_Parent_QC_Scorecard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QC_Scorecard__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QC_Scorecard__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QC_Rule_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_QC_Scorecard</name>
        <label>Update QC Scorecard</label>
        <locationX>565</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QC_Scorecard__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>QC_Scorecard_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score__c</field>
            <value>
                <elementReference>QC_Scorecard_Score</elementReference>
            </value>
        </inputAssignments>
        <object>QC_Scorecard__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Result</name>
        <label>Update QC Rule Result</label>
        <locationX>864</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Get_All_Passed_QC_Rule_Results_Of_Parent_QC_Scorecard</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Result_Datetime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Result__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>QC_Rule_Result__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count_Fail_QC_Rule_Results</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count_Null_QC_Rule_Results</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count_Pass_QC_Rule_Results</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
