metadata/sf-prod/force-app/main/default/flows/UpdateQCSummaryOnQCScorecardUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_All_Counts</name>
        <label>Assign All Counts</label>
        <locationX>751</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>Count_Pass_QC_Scorecard</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Passed_QC_Scorecards_Of_Parent_Object</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_Fail_QC_Scorecard</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Failed_QC_Scorecards_Of_Parent_Object</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_Null_QC_Scorecard</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Null_QC_Scorecards_Of_Parent_Object</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QC_Summary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Scorecard_result_changed</name>
        <label>Scorecard result changed?</label>
        <locationX>480</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Result__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Passed_QC_Scorecards_Of_Parent_Object</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>Updates the Result and the Score on the QC Summary when a result is changed on QC Scorecard</description>
    <formulas>
        <name>QC_Summary_Result</name>
        <dataType>String</dataType>
        <expression>IF({!Count_Fail_QC_Scorecard} &gt; 0, &quot;Fail&quot;, 
IF({!Count_Pass_QC_Scorecard} &gt; 0, &quot;Pass&quot;, 
&quot;Unable To Grade&quot;))</expression>
    </formulas>
    <formulas>
        <name>QC_Summary_Score</name>
        <dataType>Number</dataType>
        <expression>IF({!QC_Summary_Result}==&apos;Pass&apos; || {!QC_Summary_Result}==&apos;Fail&apos;,  {!Count_Pass_QC_Scorecard} * 100 / ({!Count_Pass_QC_Scorecard} +{!Count_Fail_QC_Scorecard}) , null)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>UpdateQCSummaryOnQCScorecardUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateQCSummaryOnQCScorecardUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Failed_QC_Scorecards_Of_Parent_Object</name>
        <label>Get All Failed QC Scorecards Of Parent Object</label>
        <locationX>1020</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Null_QC_Scorecards_Of_Parent_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QC_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QC_Summary__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QC_Scorecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Null_QC_Scorecards_Of_Parent_Object</name>
        <label>Get All Null QC Scorecards Of Parent Object</label>
        <locationX>1021</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_All_Counts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QC_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QC_Summary__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QC_Scorecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Passed_QC_Scorecards_Of_Parent_Object</name>
        <label>Get All Passed QC Scorecards Of Parent Object</label>
        <locationX>751</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Failed_QC_Scorecards_Of_Parent_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QC_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QC_Summary__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QC_Scorecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_QC_Summary</name>
        <label>Update QC Summary</label>
        <locationX>470</locationX>
        <locationY>355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QC_Summary__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>QC_Summary_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score__c</field>
            <value>
                <elementReference>QC_Summary_Score</elementReference>
            </value>
        </inputAssignments>
        <object>QC_Summary__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Scorecard_result_changed</targetReference>
        </connector>
        <object>QC_Scorecard__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count_Fail_QC_Scorecard</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count_Null_QC_Scorecard</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count_Pass_QC_Scorecard</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
